In [1]:
import os

/Users/m.dee/Documents/ML-Navigator

In [ ]:
os.chdir('..')

<img src="flow_1.png">

In [2]:
from flows.flows import Flows

Welcome to the Data Science Package. First create an object as follows:
For example, use the code below to import the flow 0:
flow = Flows(0)
You can define the `categorical_threshold` which is the maximum number of categories that a categorical feature should have before considering it as continuous numeric feature. The default value is 50
For example, use the code below to import the flow 0 with defining the categorical_threshold as 50
flow = Flows(flow_id=0, categorical_threshold=50)

In [3]:
flow = Flows(1)

Please use the following function to read the data
dataframe_dict = flow.load_data(path: str, files_list: list)
For example: path = './data'
For example: files_list = ['train.csv','test.csv']
The output is a dictionary that contains dataframes e.g.
dataframe_dict = {'train': train_dataframe,'test': test_dataframe}

In [4]:
path = './data/flow_1'
files_list = ['train.csv','test.csv']

In [5]:
dataframe_dict, columns_set = flow.load_data(path, files_list)

A summary of the data sets

                     train  test
column type
categorical_integer     18    18
categorical_string      43    43
continuous              20    19
date                     0     0
json                     0     0
other                    0     0
total amount            81    80

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
The possible ids are {'Id'}
The possible possible_target are ['SalePrice']
The type of the problem that should be solved {'SalePrice': 'regression'}
If you have categorical features with string labels, Encode the categorical features by applying the following function:
dataframe_dict, columns_set = flow.encode_categorical_feature(dataframe_dict: dict)

In [6]:
dataframe_dict, columns_set = flow.encode_categorical_feature(dataframe_dict)

The reference dataframe is: train
******************************
A summary of the data sets

                     train  test
column type
categorical_integer     61    61
categorical_string       0     0
continuous              20    19
date                     0     0
json                     0     0
other                    0     0
total amount            81    80

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
You have categorical features. Apply one-hot encoding to the categorical features by applying the following function:
dataframe_dict, columns_set = flow.one_hot_encoding (dataframe_dict: dict, ignore_columns: list, class_number_range=[3, 50]
Since one-hot encoding can produce a lot of features, class_number_range will limit the encoding process only for features which have between 3 and 49 unique values.
If you are solving a classification problem, you should exclude the target from the one-hot encoding process by defining the ingore_columns
ingore_columns = [<your target/label>]
You can add more columns to the ingore_columns list to ignore

In [7]:
ignore_columns = ['id', 'SalePrice']

In [8]:
dataframe_dict, columns_set = flow.one_hot_encoding(dataframe_dict,
                                                    "train",
                                                    ignore_columns,
                                                    class_number_range=[3, 50])

A summary of the data sets

                     train  test
column type
categorical_integer    436   436
categorical_string       0     0
continuous              20    19
date                     0     0
json                     0     0
other                    0     0
total amount           456   455

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
If you have numeric features, it is a good idea to normalize numeric features. Use the following function for feature normalization :
dataframe_dict, columns_set = flow.scale_data (dataframe_dict: dict, ignore_columns: list)
For example: ignore_columns = ['id', 'target']

In [9]:
dataframe_dict, columns_set = flow.scale_data(dataframe_dict, ignore_columns)

A summary of the data sets

                     train  test
column type
categorical_integer    436   436
categorical_string       0     0
continuous              20    19
date                     0     0
json                     0     0
other                    0     0
total amount           456   455

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
Your features are ready to train the model:
If you want to explore the data you can run one of the following functions:
1 . flow.exploring_data(dataframe_dict: dict, key_i: str)
For example: flow.exploring_data(dataframe_dict, 'train')
2 . flow.comparing_statistics(dataframe_dict: dict)
For example: flow.comparing_statistics(dataframe_dict)




You can start training the model by applying the following function:
model_index_list, save_models_dir, y_test = flow.training(parameters)
parameters = {
 "data": {
 "train": {"features": train_dataframe, "target": train_target},
 "valid": {"features": valid_dataframe, "target": valid_target},
 "test": {"features": test_dataframe, "target": test_target},
 },
 "split": {
 "method": "split",  # "method":"kfold"
 "split_ratios": 0.2,  # fold_nr: 5 , "split_ratios": 0.2 # "split_ratios":(0.3,0.2)
 },
 "model": {"type": "Ridge linear regression",
 "hyperparameters": {"alpha": 1,  # alpha:optimize
 },
 },
 "metrics": ["r2_score", "mean_squared_error"]
 }

In [10]:
ignore_columns = ["id", "SalePrice"]
columns = dataframe_dict["train"].columns
train_dataframe = dataframe_dict["train"][[x for x in columns_set["train"]["categorical_integer"] if x not in ignore_columns]]
test_dataframe = dataframe_dict["test"][[x for x in columns_set["train"]["categorical_integer"] if x not in ignore_columns]]
train_target = dataframe_dict["train"]["SalePrice"]

In [11]:
parameters = {
    "data": {
        "train": {"features": train_dataframe, "target": train_target.to_numpy()},
    },
    "split": {
        "method": "split",  # "method":"kfold"
        "split_ratios": 0.2,  # foldnr:5 , "split_ratios": 0.2 # "split_ratios":(0.3,0.2)
    },
    "model": {"type": "Ridge linear regression",
              "hyperparameters": {"alpha": "optimize",  # alpha:optimize
                                  },
              },
    "metrics": ["r2_score", "mean_squared_error"],
    "predict": {
        "test": {"features": test_dataframe}
    }
}

In [12]:
model_index_list, save_models_dir, y_test = flow.training(parameters)

the optimized alpha value 0.7
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating sub-dataset nr.0
Evaluating sub-dataset nr.0: Mean squared error: 1100239930.3464
Evaluating sub-dataset nr.0:  R2: 85.7 %

                    sub_dataset_0          mean
mean_squared_error   1.100240e+09  1.100240e+09
r2_score             8.570000e+01  8.570000e+01

the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 569909296.6553
Evaluating the dataset: train:  R2: 91.0 %
train: Mean squared error linear: 569909296.6553
train:  Mean R2: 91.0 %

                                 model_0          mean
mean_squared_error (train)  5.699093e+08  5.699093e+08
r2_score (train)            9.100000e+01  9.100000e+01

This is the end of the flow

In [ ]:
parameters_lighgbm = {
    "data": {
        "train": {"features": train_dataframe, "target": train_target.to_numpy()},
    },
    "split": {
        "method": "kfold",  # "method":"kfold"
        "fold_nr": 5,  # foldnr:5 , "split_ratios": 0.2 # "split_ratios":(0.3,0.2)
    },
    "model": {"type": "lightgbm",
              "hyperparameters": dict(objective='regression', metric='root_mean_squared_error', num_leaves=5,
                                      boost_from_average=True,
                                      learning_rate=0.05, bagging_fraction=0.99, feature_fraction=0.99, max_depth=-1,
                                      num_rounds=10000, min_data_in_leaf=10, boosting='dart')
              },
    "metrics": ["r2_score", "mean_squared_error"],
    "predict": {
        "test": {"features": test_dataframe}
    }
}

In [ ]:
model_index_list, save_models_dir, y_test = flow.training(parameters_lighgbm)

In [ ]:
parameters_xgboost = {
    "data": {
        "train": {"features": train_dataframe, "target": train_target.to_numpy()},
    },
    "split": {
        "method": "kfold",  # "method":"kfold"
        "fold_nr": 5,  # fold_nr:5 , "split_ratios": 0.3 # "split_ratios":(0.3,0.2)
    },
    "model": {"type": "xgboost",
              "hyperparameters": {'max_depth': 5, 'eta': 1, 'eval_metric': "rmse"}
              },
    "metrics": ["r2_score", "mean_squared_error"],
    "predict": {
        "test": {"features": test_dataframe}
    }
}

In [ ]:
model_index_list, save_models_dir, y_test = flow.training(parameters_xgboost)