In [1]:
import os

In [2]:
os.chdir('..')

<img src="flow_1.png">

In [3]:
from flows.flows import Flows

Welcome to the Data Science Package. First create an object as follows:
For example, use the code below to import the flow 0:
flow = Flows(0)
You can define the `categorical_threshold` which is the maximum number of categories that a categorical feature should have before considering it as continuous numeric feature. The default value is 50
For example, use the code below to import the flow 0 with defining the categorical_threshold as 50
flow = Flows(flow_id=0, categorical_threshold=50)

In [4]:
flow = Flows(1)

Please use the following function to read the data
dataframe_dict = flow.load_data(path: str, files_list: list)
For example: path = './data'
For example: files_list = ['train.csv','test.csv']
The output is a dictionary that contains dataframes e.g.
dataframe_dict = {'train': train_dataframe,'test': test_dataframe}

In [5]:
path = './data/flow_1'
files_list = ['train.csv','test.csv']

In [6]:
dataframe_dict, columns_set = flow.load_data(path, files_list)

A summary of the data sets

                     train  test
column type
categorical_integer     18    18
categorical_string      43    43
continuous              20    19
date                     0     0
json                     0     0
other                    0     0
total amount            81    80

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
The possible ids are {'Id'}
The possible possible_target are ['SalePrice']
The type of the problem that should be solved {'SalePrice': 'regression'}
If you have categorical features with string labels, Encode the categorical features by applying the following function:
dataframe_dict, columns_set = flow.encode_categorical_feature(dataframe_dict: dict)

In [7]:
dataframe_dict, columns_set = flow.encode_categorical_feature(dataframe_dict)

The reference dataframe is: train
******************************
A summary of the data sets

                     train  test
column type
categorical_integer     61    61
categorical_string       0     0
continuous              20    19
date                     0     0
json                     0     0
other                    0     0
total amount            81    80

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
You have categorical features. Apply one-hot encoding to the categorical features by applying the following function:
dataframe_dict, columns_set = flow.one_hot_encoding (dataframe_dict: dict, ignore_columns: list, class_number_range=[3, 50]
Since one-hot encoding can produce a lot of features, class_number_range will limit the encoding process only for features which have between 3 and 49 unique values.
If you are solving a classification problem, you should exclude the target from the one-hot encoding process by defining the ingore_columns
ingore_columns = [<your target/label>]
You can add more columns to the ingore_columns list to ignore

In [8]:
ignore_columns = ['id', 'SalePrice']

In [9]:
dataframe_dict, columns_set = flow.one_hot_encoding("target",
                                                    dataframe_dict,
                                                    'SalePrice',
                                                    "train",
                                                    ignore_columns,
                                                    class_number_range=[3, 50])

A summary of the data sets

                     train  test
column type
categorical_integer     61    61
categorical_string       0     0
continuous              20    19
date                     0     0
json                     0     0
other                    0     0
total amount            81    80

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
If you have numeric features, it is a good idea to normalize numeric features. Use the following function for feature normalization :
dataframe_dict, columns_set = flow.scale_data (dataframe_dict: dict, ignore_columns: list)
For example: ignore_columns = ['id', 'target']

In [10]:
dataframe_dict, columns_set = flow.scale_data(dataframe_dict, ignore_columns)

A summary of the data sets

                     train  test
column type
categorical_integer     61    61
categorical_string       0     0
continuous              20    19
date                     0     0
json                     0     0
other                    0     0
total amount            81    80

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
Your features are ready to train the model:
If you want to explore the data you can run one of the following functions:
1 . flow.exploring_data(dataframe_dict: dict, key_i: str)
For example: flow.exploring_data(dataframe_dict, 'train')
2 . flow.comparing_statistics(dataframe_dict: dict)
For example: flow.comparing_statistics(dataframe_dict)




You can start training the model by applying the following function:
model_index_list, save_models_dir, y_test = flow.training(parameters)
parameters = {
 "data": {
 "train": {"features": train_dataframe, "target": train_target},
 "valid": {"features": valid_dataframe, "target": valid_target},
 "test": {"features": test_dataframe, "target": test_target},
 },
 "split": {
 "method": "split",  # "method":"kfold"
 "split_ratios": 0.2,  # fold_nr: 5 , "split_ratios": 0.2 # "split_ratios":(0.3,0.2)
 },
 "model": {"type": "Ridge linear regression",
 "hyperparameters": {"alpha": 1,  # alpha:optimize
 },
 },
 "metrics": ["r2_score", "mean_squared_error"]
 }

In [25]:
import numpy as np

In [26]:
ignore_columns = ["id", "SalePrice"]
columns = columns_set["train"]["categorical_integer"] +  columns_set["train"]['continuous']
train_dataframe = dataframe_dict["train"][[x for x in columns if x not in ignore_columns]]
test_dataframe = dataframe_dict["test"][[x for x in columns if x not in ignore_columns]]
train_target = np.log1p(dataframe_dict["train"]["SalePrice"])

In [27]:
parameters = {
    "data": {
        "train": {"features": train_dataframe, "target": train_target.to_numpy()},
    },
    "split": {
        "method": "kfold",  # "method":"kfold"
        "fold_nr":5,  # foldnr:5 , "split_ratios": 0.2 # "split_ratios":(0.3,0.2)
    },
    "model": {"type": "Ridge linear regression",
              "hyperparameters": {"alpha": "optimize",  # alpha:optimize
                                  },
              },
    "metrics": ["r2_score", "mean_squared_error"],
    "predict": {
        "test": {"features": test_dataframe}
    }
}

In [28]:
model_index_list, save_models_dir, y_test = flow.training(parameters)

shuffle is not provided: 'shuffle'
random_state is not provided: 'random_state'
fold_nr. 1
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 1
dataset kfold 1: Mean squared error: 0.0233
dataset kfold 1:  R2: 86.6 %
fold_nr. 2
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 2
dataset kfold 2: Mean squared error: 0.039
dataset kfold 2:  R2: 78.0 %
fold_nr. 3
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 3
dataset kfold 3: Mean squared error: 0.0179
dataset kfold 3:  R2: 87.9 %
fold_nr. 4
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 4
dataset kfold 4: Mean squared error: 0.0215
dataset kfold 4:  R2: 85.3 %
fold_nr. 5
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 5
dataset kfold 5: Mean squared error: 0.0159
dataset kfold 5:  R2: 89.4 %

                     fold_1  fold_2   fold_3   fold_4   fold_5      mean
mean_squared_error   0.0233   0.039   0.0179   0.0215   0.0159   0.02352
r2_score            86.6000  78.000  87.9000  85.3000  89.4000  85.44000

the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 0.0201
Evaluating the dataset: train:  R2: 87.4 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 0.0206
Evaluating the dataset: train:  R2: 87.1 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 0.0199
Evaluating the dataset: train:  R2: 87.5 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 0.0198
Evaluating the dataset: train:  R2: 87.6 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 0.0199
Evaluating the dataset: train:  R2: 87.5 %
train: Mean squared error linear: 0.02006
train:  Mean R2: 87.42 %

,model_1,model_2,model_3,model_4,model_5,mean
mean_squared_error (train),0.0201,0.0206,0.0199,0.0198,0.0199,0.02006
r2_score (train),87.4000,87.1000,87.5000,87.6000,87.5000,87.42000

This is the end of the flow

In [29]:
parameters_lighgbm = {
    "data": {
        "train": {"features": train_dataframe, "target": train_target.to_numpy()},
    },
    "split": {
        "method": "kfold",  # "method":"kfold"
        "fold_nr": 5,  # foldnr:5 , "split_ratios": 0.2 # "split_ratios":(0.3,0.2)
    },
    "model": {"type": "lightgbm",
              "hyperparameters": dict(objective='regression', metric='root_mean_squared_error', num_leaves=5,
                                      boost_from_average=True,
                                      learning_rate=0.05, bagging_fraction=0.99, feature_fraction=0.99, max_depth=-1,
                                      num_rounds=10000, min_data_in_leaf=10, boosting='dart')
              },
    "metrics": ["r2_score", "mean_squared_error"],
    "predict": {
        "test": {"features": test_dataframe}
    }
}

In [30]:
model_index_list, save_models_dir, y_test = flow.training(parameters_lighgbm)

shuffle is not provided: 'shuffle'
random_state is not provided: 'random_state'
fold_nr. 1
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 1
dataset kfold 1: Mean squared error: 0.0168
dataset kfold 1:  R2: 90.3 %
fold_nr. 2
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 2
dataset kfold 2: Mean squared error: 0.0201
dataset kfold 2:  R2: 88.7 %
fold_nr. 3
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 3
dataset kfold 3: Mean squared error: 0.0172
dataset kfold 3:  R2: 88.4 %
fold_nr. 4
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 4
dataset kfold 4: Mean squared error: 0.0181
dataset kfold 4:  R2: 87.6 %
fold_nr. 5
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 5
dataset kfold 5: Mean squared error: 0.0132
dataset kfold 5:  R2: 91.2 %

                     fold_1   fold_2   fold_3   fold_4   fold_5      mean
mean_squared_error   0.0168   0.0201   0.0172   0.0181   0.0132   0.01708
r2_score            90.3000  88.7000  88.4000  87.6000  91.2000  89.24000

the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 0.0046
Evaluating the dataset: train:  R2: 97.1 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 0.0052
Evaluating the dataset: train:  R2: 96.7 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 0.0047
Evaluating the dataset: train:  R2: 97.1 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 0.0048
Evaluating the dataset: train:  R2: 97.0 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 0.0039
Evaluating the dataset: train:  R2: 97.6 %
train: Mean squared error linear: 0.00464
train:  Mean R2: 97.1 %

,model_1,model_2,model_3,model_4,model_5,mean
mean_squared_error (train),0.0046,0.0052,0.0047,0.0048,0.0039,0.00464
r2_score (train),97.1000,96.7000,97.1000,97.0000,97.6000,97.10000

This is the end of the flow

In [33]:
parameters_xgboost = {
    "data": {
        "train": {"features": train_dataframe, "target": train_target.to_numpy()},
    },
    "split": {
        "method": "kfold",  # "method":"kfold"
        "fold_nr": 5,  # fold_nr:5 , "split_ratios": 0.3 # "split_ratios":(0.3,0.2)
    },
    "model": {"type": "xgboost",
              "hyperparameters": {'max_depth': 5, 'eta': 1, 'eval_metric': "rmse"}
              },
    "metrics": ["r2_score", "mean_squared_error"],
    "predict": {
        "test": {"features": test_dataframe}
    }
}

In [34]:
model_index_list, save_models_dir, y_test = flow.training(parameters_xgboost)

shuffle is not provided: 'shuffle'
random_state is not provided: 'random_state'
The objective is not defined. The default value is reg:squarederror. Error: 'objective'
fold_nr. 1
The num_round is not defined. The default value is num_round = 10. Error: 'num_round'
[0]	train-rmse:0.394412	test-rmse:0.41834
[1]	train-rmse:0.162396	test-rmse:0.198527
[2]	train-rmse:0.130033	test-rmse:0.182609
[3]	train-rmse:0.115786	test-rmse:0.18103
[4]	train-rmse:0.100494	test-rmse:0.180774
[5]	train-rmse:0.092134	test-rmse:0.184883
[6]	train-rmse:0.085229	test-rmse:0.184858
[7]	train-rmse:0.077634	test-rmse:0.181979
[8]	train-rmse:0.072965	test-rmse:0.181542
[9]	train-rmse:0.069713	test-rmse:0.181928
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 1
dataset kfold 1: Mean squared error: 0.0331
dataset kfold 1:  R2: 80.9 %
fold_nr. 2
The num_round is not defined. The default value is num_round = 10. Error: 'num_round'
[0]	train-rmse:0.393876	test-rmse:0.42093
[1]	train-rmse:0.161929	test-rmse:0.215867
[2]	train-rmse:0.134757	test-rmse:0.206
[3]	train-rmse:0.122723	test-rmse:0.204531
[4]	train-rmse:0.110896	test-rmse:0.200419
[5]	train-rmse:0.101345	test-rmse:0.204112
[6]	train-rmse:0.089752	test-rmse:0.207064
[7]	train-rmse:0.085985	test-rmse:0.201915
[8]	train-rmse:0.081189	test-rmse:0.203968
[9]	train-rmse:0.075678	test-rmse:0.206803
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 2
dataset kfold 2: Mean squared error: 0.0428
dataset kfold 2:  R2: 75.8 %
fold_nr. 3
The num_round is not defined. The default value is num_round = 10. Error: 'num_round'
[0]	train-rmse:0.402554	test-rmse:0.387864
[1]	train-rmse:0.165826	test-rmse:0.196163
[2]	train-rmse:0.131843	test-rmse:0.190802
[3]	train-rmse:0.122002	test-rmse:0.185477
[4]	train-rmse:0.108322	test-rmse:0.185761
[5]	train-rmse:0.10091	test-rmse:0.188636
[6]	train-rmse:0.093394	test-rmse:0.186581
[7]	train-rmse:0.084795	test-rmse:0.186437
[8]	train-rmse:0.079113	test-rmse:0.184281
[9]	train-rmse:0.076773	test-rmse:0.184134
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 3
dataset kfold 3: Mean squared error: 0.0339
dataset kfold 3:  R2: 77.2 %
fold_nr. 4
The num_round is not defined. The default value is num_round = 10. Error: 'num_round'
[0]	train-rmse:0.403514	test-rmse:0.38306
[1]	train-rmse:0.163608	test-rmse:0.18938
[2]	train-rmse:0.13351	test-rmse:0.179709
[3]	train-rmse:0.122563	test-rmse:0.185841
[4]	train-rmse:0.112423	test-rmse:0.188211
[5]	train-rmse:0.102121	test-rmse:0.191662
[6]	train-rmse:0.094518	test-rmse:0.188191
[7]	train-rmse:0.087401	test-rmse:0.189895
[8]	train-rmse:0.082779	test-rmse:0.189659
[9]	train-rmse:0.078396	test-rmse:0.193771
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 4
dataset kfold 4: Mean squared error: 0.0375
dataset kfold 4:  R2: 74.3 %
fold_nr. 5
The num_round is not defined. The default value is num_round = 10. Error: 'num_round'
[0]	train-rmse:0.402516	test-rmse:0.386886
[1]	train-rmse:0.167587	test-rmse:0.182707
[2]	train-rmse:0.136321	test-rmse:0.175784
[3]	train-rmse:0.123821	test-rmse:0.16387
[4]	train-rmse:0.108927	test-rmse:0.164085
[5]	train-rmse:0.10298	test-rmse:0.164975
[6]	train-rmse:0.09411	test-rmse:0.162923
[7]	train-rmse:0.086102	test-rmse:0.167654
[8]	train-rmse:0.080119	test-rmse:0.167772
[9]	train-rmse:0.07701	test-rmse:0.17019
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 5
dataset kfold 5: Mean squared error: 0.029
dataset kfold 5:  R2: 80.6 %

                     fold_1   fold_2   fold_3   fold_4  fold_5      mean
mean_squared_error   0.0331   0.0428   0.0339   0.0375   0.029   0.03526
r2_score            80.9000  75.8000  77.2000  74.3000  80.600  77.76000

The objective is not defined. The default value is reg:squarederror. Error: 'objective'
This is xgboost exception. Error: 'DMatrix' object has no attribute 'to_numpy'
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 0.0105
Evaluating the dataset: train:  R2: 93.4 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 0.0131
Evaluating the dataset: train:  R2: 91.8 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 0.0115
Evaluating the dataset: train:  R2: 92.8 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 0.0124
Evaluating the dataset: train:  R2: 92.2 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 0.0105
Evaluating the dataset: train:  R2: 93.4 %
train: Mean squared error linear: 0.011600000000000003
train:  Mean R2: 92.72 %

,model_1,model_2,model_3,model_4,model_5,mean
mean_squared_error (train),0.0105,0.0131,0.0115,0.0124,0.0105,0.0116
r2_score (train),93.4000,91.8000,92.8000,92.2000,93.4000,92.7200

This is the end of the flow