In [ ]:
import os

In [1]:
os.chdir('..')

/Users/m.dee/Documents/ML-Navigator

<img src="flow_2.png">

In [2]:
from flows.flows import Flows

Welcome to the Data Science Package. First create an object as follows:
For example, use the code below to import the flow 0:
flow = Flows(0)
You can define the `categorical_threshold` which is the maximum number of categories that a categorical feature should have before considering it as continuous numeric feature. The default value is 50
For example, use the code below to import the flow 0 with defining the categorical_threshold as 50
flow = Flows(flow_id=0, categorical_threshold=50)

In [3]:
flow = Flows(2)

Please use the following function to read the data
dataframe_dict = flow.load_data(path: str, files_list: list)
For example: path = './data'
For example: files_list = ['train.csv','test.csv']
The output is a dictionary that contains dataframes e.g.
dataframe_dict = {'train': train_dataframe,'test': test_dataframe}

In [4]:
path = "./data/flow_2"
files_list = ["train.csv","test.csv"]

In [5]:
dataframe_dict, columns_set = flow.load_data(path, files_list)

A summary of the data sets

                     train  test
column type
categorical_integer      0     0
categorical_string       9     8
continuous               5     4
date                     1     1
json                     8     9
other                    0     0
total amount            23    22

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
The possible ids are {'imdb_id', 'id', 'popularity'}
The possible possible_target are ['revenue']
The type of the problem that should be solved {'revenue': 'regression'}
You have JSON nested data inside the dataframe columns. Flatten the nested JSON data by applying the following function:
dataframe_dict, columns_set= flow.flatten_json_data(dataframe_dict)

In [6]:
dataframe_dict, columns_set= flow.flatten_json_data(dataframe_dict)

Flatting column: belongs_to_collection
Flatting column: genres
Flatting column: production_companies
Flatting column: production_countries
Flatting column: spoken_languages
Flatting column: Keywords
Flatting column: cast
Flatting column: crew
A summary of the data sets

                     train  test
column type
categorical_integer     39    38
categorical_string     163   166
continuous              55    55
date                     6     2
json                     0     1
other                    0     0
total amount           263   262

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
If you have categorical features with string labels, Encode the categorical features by applying the following function:
dataframe_dict, columns_set = flow.encode_categorical_feature(dataframe_dict: dict)

In [7]:
dataframe_dict, columns_set = flow.encode_categorical_feature(dataframe_dict)

The reference dataframe is: train
******************************
A summary of the data sets

                     train  test
column type
categorical_integer     89    83
categorical_string       0     5
continuous             168   173
date                     6     1
json                     0     0
other                    0     0
total amount           263   262

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
If you have numeric features, it is a good idea to normalize numeric features. Use the following function for feature normalization :
dataframe_dict, columns_set = flow.scale_data (dataframe_dict: dict, ignore_columns: list)
For example: ignore_columns = ['id', 'target']

In [8]:
ignore_columns = ['id', 'revenue']

In [9]:
dataframe_dict, columns_set = flow.scale_data(dataframe_dict, ignore_columns)

A summary of the data sets

                     train  test
column type
categorical_integer     89    83
categorical_string       0     5
continuous             168   173
date                     6     1
json                     0     0
other                    0     0
total amount           263   262

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
Your features are ready to train the model:
If you want to explore the data you can run one of the following functions:
1 . flow.exploring_data(dataframe_dict: dict, key_i: str)
For example: flow.exploring_data(dataframe_dict, 'train')
2 . flow.comparing_statistics(dataframe_dict: dict)
For example: flow.comparing_statistics(dataframe_dict)




You can start training the model by applying the following function:
model_index_list, save_models_dir, y_test = flow.training(parameters)
parameters = {
 "data": {
 "train": {"features": train_dataframe, "target": train_target},
 "valid": {"features": valid_dataframe, "target": valid_target},
 "test": {"features": test_dataframe, "target": test_target},
 },
 "split": {
 "method": "split",  # "method":"kfold"
 "split_ratios": 0.2,  # fold_nr: 5 , "split_ratios": 0.2 # "split_ratios":(0.3,0.2)
 },
 "model": {"type": "Ridge linear regression",
 "hyperparameters": {"alpha": 1,  # alpha:optimize
 },
 },
 "metrics": ["r2_score", "mean_squared_error"]
 }

In [10]:
flow.exploring_data(dataframe_dict, "test")

interactive(children=(IntSlider(value=0, description='column_i', max=261), Output()), _dom_classes=('widget-in…

In [11]:
flow.comparing_statistics(dataframe_dict)

interactive(children=(IntSlider(value=0, description='feature_nr', max=262), Output()), _dom_classes=('widget-…

In [12]:
ignore_columns = ["id", "release_date", "revenue"]
columns = dataframe_dict["train"].columns
train_dataframe = dataframe_dict["train"][[x for x in columns_set["train"]["continuous"] if x not in ignore_columns]]
test_dataframe = dataframe_dict["test"][[x for x in columns_set["train"]["continuous"] if x not in ignore_columns]]
train_target = dataframe_dict["train"]["revenue"]

In [13]:
parameters = {
    "data": {
        "train": {"features": train_dataframe, "target": train_target.to_numpy()},
    },
    "split": {
        "method": "kfold",  # "method":"kfold"
        "fold_nr": 5,  # foldnr:5 , "split_ratios": 0.8 # "split_ratios":(0.7,0.2)
    },
    "model": {"type": "Ridge linear regression",
              "hyperparameters": {"alpha": "optimize",  # alpha:optimize
                                  },
              },
    "metrics": ["r2_score", "mean_squared_error"],
    "predict": {
        "test": {"features": test_dataframe}
    }
}

In [14]:
model_index_list, save_models_dir, y_test = flow.training(parameters)

shuffle is not provided: 'shuffle'
random_state is not provided: 'random_state'
fold_nr. 1
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 1
dataset kfold 1: Mean squared error: 5138373596675930.0
dataset kfold 1:  R2: 62.0 %
fold_nr. 2
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 2
dataset kfold 2: Mean squared error: 1.026289655855342e+16
dataset kfold 2:  R2: 60.5 %
fold_nr. 3
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 3
dataset kfold 3: Mean squared error: 4850400397192670.0
dataset kfold 3:  R2: 73.5 %
fold_nr. 4
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 4
dataset kfold 4: Mean squared error: 6970326771048463.0
dataset kfold 4:  R2: 48.0 %
fold_nr. 5
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 5
dataset kfold 5: Mean squared error: 7852170964552520.0
dataset kfold 5:  R2: 66.1 %

,fold_1,fold_2,fold_3,fold_4,fold_5,mean
mean_squared_error,5.138374e+15,1.026290e+16,4.850400e+15,6.970327e+15,7.852171e+15,7.014834e+15
r2_score,6.200000e+01,6.050000e+01,7.350000e+01,4.800000e+01,6.610000e+01,6.202000e+01

the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 6189942076195239.0
Evaluating the dataset: train:  R2: 67.3 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 6356940961457917.0
Evaluating the dataset: train:  R2: 66.4 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 6197901310509893.0
Evaluating the dataset: train:  R2: 67.2 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 6205972546613894.0
Evaluating the dataset: train:  R2: 67.2 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 6244211317813292.0
Evaluating the dataset: train:  R2: 67.0 %
train: Mean squared error linear: 6238993642518047.0
train:  Mean R2: 67.02 %

,model_1,model_2,model_3,model_4,model_5,mean
mean_squared_error (train),6.189942e+15,6.356941e+15,6.197901e+15,6.205973e+15,6.244211e+15,6.238994e+15
r2_score (train),6.730000e+01,6.640000e+01,6.720000e+01,6.720000e+01,6.700000e+01,6.702000e+01

This is the end of the flow

In [15]:
parameters_lighgbm = {
    "data": {
        "train": {"features": train_dataframe, "target": train_target.to_numpy()},
    },
    "split": {
        "method": "kfold",  # "method":"kfold"
        "fold_nr": 5,  # foldnr:5 , "split_ratios": 0.8 # "split_ratios":(0.7,0.2)
    },
    "model": {"type": "lightgbm",
              "hyperparameters": dict(objective='regression', metric='root_mean_squared_error', num_leaves=5,
                                      boost_from_average=True,
                                      learning_rate=0.05, bagging_fraction=0.99, feature_fraction=0.99, max_depth=-1,
                                      num_rounds=10000, min_data_in_leaf=10, boosting='dart')
              },
    "metrics": ["r2_score", "mean_squared_error"],
    "predict": {
        "test": {"features": test_dataframe}
    }
}

In [16]:
model_index_list, save_models_dir, y_test = flow.training(parameters_lighgbm)

shuffle is not provided: 'shuffle'
random_state is not provided: 'random_state'
fold_nr. 1
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 1
dataset kfold 1: Mean squared error: 4161872311224590.5
dataset kfold 1:  R2: 69.2 %
fold_nr. 2
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 2
dataset kfold 2: Mean squared error: 8901642375697506.0
dataset kfold 2:  R2: 65.7 %
fold_nr. 3
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 3
dataset kfold 3: Mean squared error: 3358898044730845.5
dataset kfold 3:  R2: 81.6 %
fold_nr. 4
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 4
dataset kfold 4: Mean squared error: 6071373086620322.0
dataset kfold 4:  R2: 54.7 %
fold_nr. 5
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 5
dataset kfold 5: Mean squared error: 7376339159188029.0
dataset kfold 5:  R2: 68.1 %

,fold_1,fold_2,fold_3,fold_4,fold_5,mean
mean_squared_error,4.161872e+15,8.901642e+15,3.358898e+15,6.071373e+15,7.376339e+15,5.974025e+15
r2_score,6.920000e+01,6.570000e+01,8.160000e+01,5.470000e+01,6.810000e+01,6.786000e+01

the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 962400120545498.9
Evaluating the dataset: train:  R2: 94.9 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 1890782910028812.2
Evaluating the dataset: train:  R2: 90.0 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 793517714084678.9
Evaluating the dataset: train:  R2: 95.8 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 1332269588733857.8
Evaluating the dataset: train:  R2: 93.0 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 1589110524686681.5
Evaluating the dataset: train:  R2: 91.6 %
train: Mean squared error linear: 1313616171615906.0
train:  Mean R2: 93.05999999999999 %

,model_1,model_2,model_3,model_4,model_5,mean
mean_squared_error (train),9.624001e+14,1.890783e+15,7.935177e+14,1.332270e+15,1.589111e+15,1.313616e+15
r2_score (train),9.490000e+01,9.000000e+01,9.580000e+01,9.300000e+01,9.160000e+01,9.306000e+01

This is the end of the flow

In [19]:
parameters_xgboost = {
    "data": {
        "train": {"features": train_dataframe, "target": train_target.to_numpy()},
    },
    "split": {
        "method": "kfold",  # "method":"kfold"
        "fold_nr": 5,  # fold_nr:5 , "split_ratios": 0.3 # "split_ratios":(0.3,0.2)
    },
    "model": {"type": "xgboost",
              "hyperparameters": {'max_depth': 5, 'eta': 1, 'eval_metric': "rmse"}
              },
    "metrics": ["r2_score", "mean_squared_error"],
    "predict": {
        "test": {"features": test_dataframe}
    }
}

In [20]:
model_index_list, save_models_dir, y_test = flow.training(parameters_xgboost)

shuffle is not provided: 'shuffle'
random_state is not provided: 'random_state'
fold_nr. 1
The num_round is not defined. The default value is num_round = 10. Error: 'num_round'
The objective is not defined. The default value is reg:squarederror. Error: 'objective'
[0]	train-rmse:6.379e+07	test-rmse:8.1404e+07
[1]	train-rmse:5.30354e+07	test-rmse:7.98035e+07
[2]	train-rmse:4.76315e+07	test-rmse:8.40547e+07
[3]	train-rmse:4.49167e+07	test-rmse:8.48168e+07
[4]	train-rmse:4.1329e+07	test-rmse:8.74375e+07
[5]	train-rmse:3.9357e+07	test-rmse:8.93973e+07
[6]	train-rmse:3.65121e+07	test-rmse:9.0741e+07
[7]	train-rmse:3.51372e+07	test-rmse:9.15847e+07
[8]	train-rmse:3.27178e+07	test-rmse:9.10178e+07
[9]	train-rmse:3.02967e+07	test-rmse:9.17028e+07
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 1
dataset kfold 1: Mean squared error: 8409395281268395.0
dataset kfold 1:  R2: 37.8 %
fold_nr. 2
The num_round is not defined. The default value is num_round = 10. Error: 'num_round'
The objective is not defined. The default value is reg:squarederror. Error: 'objective'
[0]	train-rmse:6.20598e+07	test-rmse:1.19644e+08
[1]	train-rmse:5.27837e+07	test-rmse:1.13553e+08
[2]	train-rmse:4.78106e+07	test-rmse:1.15685e+08
[3]	train-rmse:4.51656e+07	test-rmse:1.16182e+08
[4]	train-rmse:4.17663e+07	test-rmse:1.17692e+08
[5]	train-rmse:3.88524e+07	test-rmse:1.17339e+08
[6]	train-rmse:3.72607e+07	test-rmse:1.16277e+08
[7]	train-rmse:3.43452e+07	test-rmse:1.16899e+08
[8]	train-rmse:3.10037e+07	test-rmse:1.18595e+08
[9]	train-rmse:2.93104e+07	test-rmse:1.20876e+08
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 2
dataset kfold 2: Mean squared error: 1.4611025034450262e+16
dataset kfold 2:  R2: 43.7 %
fold_nr. 3
The num_round is not defined. The default value is num_round = 10. Error: 'num_round'
The objective is not defined. The default value is reg:squarederror. Error: 'objective'
[0]	train-rmse:6.55479e+07	test-rmse:8.30866e+07
[1]	train-rmse:5.26756e+07	test-rmse:8.95587e+07
[2]	train-rmse:4.76964e+07	test-rmse:8.94888e+07
[3]	train-rmse:4.19375e+07	test-rmse:9.29056e+07
[4]	train-rmse:3.86266e+07	test-rmse:9.33267e+07
[5]	train-rmse:3.69444e+07	test-rmse:9.32704e+07
[6]	train-rmse:3.31943e+07	test-rmse:9.54206e+07
[7]	train-rmse:3.13376e+07	test-rmse:9.62555e+07
[8]	train-rmse:2.90418e+07	test-rmse:9.55776e+07
[9]	train-rmse:2.76868e+07	test-rmse:9.57144e+07
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 3
dataset kfold 3: Mean squared error: 9161250220737298.0
dataset kfold 3:  R2: 49.9 %
fold_nr. 4
The num_round is not defined. The default value is num_round = 10. Error: 'num_round'
The objective is not defined. The default value is reg:squarederror. Error: 'objective'
[0]	train-rmse:6.67632e+07	test-rmse:9.53966e+07
[1]	train-rmse:5.29666e+07	test-rmse:9.68194e+07
[2]	train-rmse:4.5658e+07	test-rmse:1.02021e+08
[3]	train-rmse:4.16798e+07	test-rmse:1.05494e+08
[4]	train-rmse:3.93622e+07	test-rmse:1.0599e+08
[5]	train-rmse:3.64692e+07	test-rmse:1.06314e+08
[6]	train-rmse:3.49623e+07	test-rmse:1.05885e+08
[7]	train-rmse:3.2405e+07	test-rmse:1.06265e+08
[8]	train-rmse:3.02048e+07	test-rmse:1.07543e+08
[9]	train-rmse:2.77735e+07	test-rmse:1.08283e+08
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 4
dataset kfold 4: Mean squared error: 1.1725115384626066e+16
dataset kfold 4:  R2: 12.4 %
fold_nr. 5
The num_round is not defined. The default value is num_round = 10. Error: 'num_round'
The objective is not defined. The default value is reg:squarederror. Error: 'objective'
[0]	train-rmse:6.61765e+07	test-rmse:1.04559e+08
[1]	train-rmse:5.42195e+07	test-rmse:1.05499e+08
[2]	train-rmse:4.96246e+07	test-rmse:1.07678e+08
[3]	train-rmse:4.63173e+07	test-rmse:1.06557e+08
[4]	train-rmse:4.33334e+07	test-rmse:1.06809e+08
[5]	train-rmse:3.99069e+07	test-rmse:1.07115e+08
[6]	train-rmse:3.74825e+07	test-rmse:1.08069e+08
[7]	train-rmse:3.3826e+07	test-rmse:1.09671e+08
[8]	train-rmse:3.22395e+07	test-rmse:1.09773e+08
[9]	train-rmse:3.07492e+07	test-rmse:1.10429e+08
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 5
dataset kfold 5: Mean squared error: 1.2194649652643486e+16
dataset kfold 5:  R2: 47.3 %

,fold_1,fold_2,fold_3,fold_4,fold_5,mean
mean_squared_error,8.409395e+15,1.461103e+16,9.161250e+15,1.172512e+16,1.219465e+16,1.122029e+16
r2_score,3.780000e+01,4.370000e+01,4.990000e+01,1.240000e+01,4.730000e+01,3.822000e+01

The objective is not defined. The default value is reg:squarederror. Error: 'objective'
This is xgboost exception. Error: 'DMatrix' object has no attribute 'to_numpy'
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 2416192498788068.5
Evaluating the dataset: train:  R2: 87.2 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 3609484174601721.0
Evaluating the dataset: train:  R2: 80.9 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 2445497007573499.0
Evaluating the dataset: train:  R2: 87.1 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 2962118913633820.5
Evaluating the dataset: train:  R2: 84.3 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 3195340705680533.5
Evaluating the dataset: train:  R2: 83.1 %
train: Mean squared error linear: 2925726660055529.0
train:  Mean R2: 84.52000000000001 %

,model_1,model_2,model_3,model_4,model_5,mean
mean_squared_error (train),2.416192e+15,3.609484e+15,2.445497e+15,2.962119e+15,3.195341e+15,2.925727e+15
r2_score (train),8.720000e+01,8.090000e+01,8.710000e+01,8.430000e+01,8.310000e+01,8.452000e+01

This is the end of the flow