In [1]:
cd ..

/Users/m.dee/Documents/ML-Navigator

<img src="flow_1.png">

In [2]:
from flows.flows import Flows

Welcome to the Data Science Package. First create an object as follows:
For example, use the code below to import the flow 0:
flow = Flows(0)
You can define the `categorical_threshold` which is the maximum number of categories that a categorical feature should have before considering it as continuous numeric feature. The default value is 50
For example, use the code below to import the flow 0 with defining the categorical_threshold as 50
flow = Flows(flow_id=0, categorical_threshold=50)

In [3]:
flow = Flows(1)

Please use the following function to read the data
dataframe_dict = flow.load_data(path: str, files_list: list)
For example: path = './data'
For example: files_list = ['train.csv','test.csv']
The output is a dictionary that contains dataframes e.g.
dataframe_dict = {'train': train_dataframe,'test': test_dataframe}

In [4]:
path = './data/flow_1'
files_list = ['train.csv','test.csv']

In [5]:
dataframe_dict, columns_set = flow.load_data(path, files_list)

A summary of the data sets

                     train  test
column type
categorical_integer     18    18
categorical_string      43    43
continuous              20    19
date                     0     0
json                     0     0
other                    0     0
total amount            81    80

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
The possible ids are {'Id'}
The possible possible_target are ['SalePrice']
The type of the problem that should be solved {'SalePrice': 'regression'}
If you have categorical features with string labels, Encode the categorical features by applying the following function:
dataframe_dict, columns_set = flow.encode_categorical_feature(dataframe_dict: dict)

In [6]:
dataframe_dict, columns_set = flow.encode_categorical_feature(dataframe_dict)

The reference dataframe is: train
******************************
A summary of the data sets

                     train  test
column type
categorical_integer     61    61
categorical_string       0     0
continuous              20    19
date                     0     0
json                     0     0
other                    0     0
total amount            81    80

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
You have categorical features. Apply one-hot encoding to the categorical features by applying the following function:
dataframe_dict, columns_set = flow.one_hot_encoding (dataframe_dict: dict, ignore_columns: list, class_number_range=[3, 50]
Since one-hot encoding can produce a lot of features, class_number_range will limit the encoding process only for features which have between 3 and 49 unique values.
If you are solving a classification problem, you should exclude the target from the one-hot encoding process by defining the ingore_columns
ingore_columns = [<your target/label>]
You can add more columns to the ingore_columns list to ignore

In [7]:
ignore_columns = ['id', 'SalePrice']

In [8]:
dataframe_dict, columns_set = flow.one_hot_encoding(dataframe_dict,
                                                    "train",
                                                    ignore_columns,
                                                    class_number_range=[3, 50])

A summary of the data sets

                     train  test
column type
categorical_integer    436   436
categorical_string       0     0
continuous              20    19
date                     0     0
json                     0     0
other                    0     0
total amount           456   455

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
If you have numeric features, it is a good idea to normalize numeric features. Use the following function for feature normalization :
dataframe_dict, columns_set = flow.scale_data (dataframe_dict: dict, ignore_columns: list)
For example: ignore_columns = ['id', 'target']

In [9]:
dataframe_dict, columns_set = flow.scale_data(dataframe_dict, ignore_columns)

A summary of the data sets

                     train  test
column type
categorical_integer    436   436
categorical_string       0     0
continuous              20    19
date                     0     0
json                     0     0
other                    0     0
total amount           456   455

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
Your features are ready to train the model:
If you want to explore the data you can run one of the following functions:
1 . flow.exploring_data(dataframe_dict: dict, key_i: str)
For example: flow.exploring_data(dataframe_dict, 'train')
2 . flow.comparing_statistics(dataframe_dict: dict)
For example: flow.comparing_statistics(dataframe_dict)




You can start training the model by applying the following function:
model_index_list, save_models_dir, y_test = flow.training(parameters)
parameters = {
 "data": {
 "train": {"features": train_dataframe, "target": train_target},
 "valid": {"features": valid_dataframe, "target": valid_target},
 "test": {"features": test_dataframe, "target": test_target},
 },
 "split": {
 "method": "split",  # "method":"kfold"
 "split_ratios": 0.2,  # fold_nr: 5 , "split_ratios": 0.2 # "split_ratios":(0.3,0.2)
 },
 "model": {"type": "Ridge linear regression",
 "hyperparameters": {"alpha": 1,  # alpha:optimize
 },
 },
 "metrics": ["r2_score", "mean_squared_error"]
 }

In [10]:
ignore_columns = ["id", "SalePrice"]
columns = dataframe_dict["train"].columns
train_dataframe = dataframe_dict["train"][[x for x in columns_set["train"]["categorical_integer"] if x not in ignore_columns]]
test_dataframe = dataframe_dict["test"][[x for x in columns_set["train"]["categorical_integer"] if x not in ignore_columns]]
train_target = dataframe_dict["train"]["SalePrice"]

In [11]:
parameters = {
    "data": {
        "train": {"features": train_dataframe, "target": train_target.to_numpy()},
    },
    "split": {
        "method": "kfold",  # "method":"kfold"
        "fold_nr": 5,  # foldnr:5 , "split_ratios": 0.8 # "split_ratios":(0.7,0.2)
    },
    "model": {"type": "Ridge linear regression",
              "hyperparameters": {"alpha": "optimize",  # alpha:optimize
                                  },
              },
    "metrics": ["r2_score", "mean_squared_error"],
    "predict": {
        "test": {"features": test_dataframe}
    }
}

In [12]:
model_index_list, save_models_dir, y_test = flow.training(parameters)

shuffle is not provided: 'shuffle'
random_state is not provided: 'random_state'
fold_nr. 1
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 1
dataset kfold 1: Mean squared error: 1086884775.5591
dataset kfold 1:  R2: 84.8 %
fold_nr. 2
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 2
dataset kfold 2: Mean squared error: 1119493135.3266
dataset kfold 2:  R2: 81.6 %
fold_nr. 3
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 3
dataset kfold 3: Mean squared error: 859610495.1886
dataset kfold 3:  R2: 85.3 %
fold_nr. 4
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 4
dataset kfold 4: Mean squared error: 1364700402.6628
dataset kfold 4:  R2: 80.0 %
fold_nr. 5
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 5
dataset kfold 5: Mean squared error: 733040773.3461
dataset kfold 5:  R2: 87.0 %

,fold_1,fold_2,fold_3,fold_4,fold_5,mean
mean_squared_error,1.086885e+09,1.119493e+09,8.596105e+08,1.364700e+09,7.330408e+08,1.032746e+09
r2_score,8.480000e+01,8.160000e+01,8.530000e+01,8.000000e+01,8.700000e+01,8.374000e+01

the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 742332265.4336
Evaluating the dataset: train:  R2: 88.2 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 724608861.0418
Evaluating the dataset: train:  R2: 88.5 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 701683079.8904
Evaluating the dataset: train:  R2: 88.9 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 727301070.2749
Evaluating the dataset: train:  R2: 88.5 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 702169182.07
Evaluating the dataset: train:  R2: 88.9 %
train: Mean squared error linear: 719618891.74214
train:  Mean R2: 88.6 %

,model_1,model_2,model_3,model_4,model_5,mean
mean_squared_error (train),7.423323e+08,7.246089e+08,7.016831e+08,7.273011e+08,7.021692e+08,7.196189e+08
r2_score (train),8.820000e+01,8.850000e+01,8.890000e+01,8.850000e+01,8.890000e+01,8.860000e+01

This is the end of the flow

In [13]:
parameters_lighgbm = {
    "data": {
        "train": {"features": train_dataframe, "target": train_target.to_numpy()},
    },
    "split": {
        "method": "kfold",  # "method":"kfold"
        "fold_nr": 5,  # foldnr:5 , "split_ratios": 0.8 # "split_ratios":(0.7,0.2)
    },
    "model": {"type": "lightgbm",
              "hyperparameters": dict(objective='regression', metric='root_mean_squared_error', num_leaves=5,
                                      boost_from_average=True,
                                      learning_rate=0.05, bagging_fraction=0.99, feature_fraction=0.99, max_depth=-1,
                                      num_rounds=10000, min_data_in_leaf=10, boosting='dart')
              },
    "metrics": ["r2_score", "mean_squared_error"],
    "predict": {
        "test": {"features": test_dataframe}
    }
}

In [14]:
model_index_list, save_models_dir, y_test = flow.training(parameters_lighgbm)

shuffle is not provided: 'shuffle'
random_state is not provided: 'random_state'
fold_nr. 1
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 1
dataset kfold 1: Mean squared error: 735456111.1848
dataset kfold 1:  R2: 89.7 %
fold_nr. 2
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 2
dataset kfold 2: Mean squared error: 876638566.395
dataset kfold 2:  R2: 85.6 %
fold_nr. 3
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 3
dataset kfold 3: Mean squared error: 1082012028.1759
dataset kfold 3:  R2: 81.5 %
fold_nr. 4
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 4
dataset kfold 4: Mean squared error: 1280155802.5251
dataset kfold 4:  R2: 81.2 %
fold_nr. 5
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 5
dataset kfold 5: Mean squared error: 673392413.4795
dataset kfold 5:  R2: 88.0 %

,fold_1,fold_2,fold_3,fold_4,fold_5,mean
mean_squared_error,7.354561e+08,8.766386e+08,1.082012e+09,1.280156e+09,6.733924e+08,9.295310e+08
r2_score,8.970000e+01,8.560000e+01,8.150000e+01,8.120000e+01,8.800000e+01,8.520000e+01

the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 215416890.0182
Evaluating the dataset: train:  R2: 96.6 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 235565719.8635
Evaluating the dataset: train:  R2: 96.3 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 277552390.1067
Evaluating the dataset: train:  R2: 95.6 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 320398822.2982
Evaluating the dataset: train:  R2: 94.9 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 198135694.2878
Evaluating the dataset: train:  R2: 96.9 %
train: Mean squared error linear: 249413903.31487998
train:  Mean R2: 96.05999999999999 %

,model_1,model_2,model_3,model_4,model_5,mean
mean_squared_error (train),2.154169e+08,2.355657e+08,2.775524e+08,3.203988e+08,1.981357e+08,2.494139e+08
r2_score (train),9.660000e+01,9.630000e+01,9.560000e+01,9.490000e+01,9.690000e+01,9.606000e+01

This is the end of the flow

In [16]:
parameters_xgboost = {
    "data": {
        "train": {"features": train_dataframe, "target": train_target.to_numpy()},
    },
    "split": {
        "method": "kfold",  # "method":"kfold"
        "fold_nr": 5,  # fold_nr:5 , "split_ratios": 0.3 # "split_ratios":(0.3,0.2)
    },
    "model": {"type": "xgboost",
              "hyperparameters": {'max_depth': 5, 'eta': 1, 'eval_metric': "rmse"}
              },
    "metrics": ["r2_score", "mean_squared_error"],
    "predict": {
        "test": {"features": test_dataframe}
    }
}

In [17]:
model_index_list, save_models_dir, y_test = flow.training(parameters_xgboost)

shuffle is not provided: 'shuffle'
random_state is not provided: 'random_state'
fold_nr. 1
The num_round is not defined. The default value is num_round = 10. Error: 'num_round'
The objective is not defined. The default value is reg:squarederror. Error: 'objective'
[0]	train-rmse:40632.8	test-rmse:51489.7
[1]	train-rmse:31553	test-rmse:46632.6
[2]	train-rmse:28335.7	test-rmse:44061.5
[3]	train-rmse:25816.4	test-rmse:45387.2
[4]	train-rmse:23930.6	test-rmse:45457.9
[5]	train-rmse:22649.7	test-rmse:44379.5
[6]	train-rmse:21681.1	test-rmse:44091.1
[7]	train-rmse:20877.6	test-rmse:44202.4
[8]	train-rmse:19857.5	test-rmse:44549.4
[9]	train-rmse:18202.9	test-rmse:44142.4
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 1
dataset kfold 1: Mean squared error: 1948553713.7916
dataset kfold 1:  R2: 72.7 %
fold_nr. 2
The num_round is not defined. The default value is num_round = 10. Error: 'num_round'
The objective is not defined. The default value is reg:squarederror. Error: 'objective'
[0]	train-rmse:43017.9	test-rmse:43932.9
[1]	train-rmse:31561.7	test-rmse:40970.2
[2]	train-rmse:28165.2	test-rmse:41364.1
[3]	train-rmse:24726.5	test-rmse:40169.5
[4]	train-rmse:23137.3	test-rmse:41112.5
[5]	train-rmse:21156.9	test-rmse:40893.9
[6]	train-rmse:19777.4	test-rmse:42006.4
[7]	train-rmse:18778.8	test-rmse:42236.9
[8]	train-rmse:17867.5	test-rmse:42242.7
[9]	train-rmse:17371.2	test-rmse:42917.5
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 2
dataset kfold 2: Mean squared error: 1841913092.2634
dataset kfold 2:  R2: 69.7 %
fold_nr. 3
The num_round is not defined. The default value is num_round = 10. Error: 'num_round'
The objective is not defined. The default value is reg:squarederror. Error: 'objective'
[0]	train-rmse:41492.8	test-rmse:46185.6
[1]	train-rmse:32876.5	test-rmse:43020.9
[2]	train-rmse:29208.4	test-rmse:40720.4
[3]	train-rmse:25849	test-rmse:40872.9
[4]	train-rmse:24047.5	test-rmse:40983
[5]	train-rmse:22122.8	test-rmse:41198.9
[6]	train-rmse:20093.4	test-rmse:41286.8
[7]	train-rmse:18764.8	test-rmse:42006
[8]	train-rmse:18274	test-rmse:41833
[9]	train-rmse:16893	test-rmse:42303.3
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 3
dataset kfold 3: Mean squared error: 1789568391.9433
dataset kfold 3:  R2: 69.4 %
fold_nr. 4
The num_round is not defined. The default value is num_round = 10. Error: 'num_round'
The objective is not defined. The default value is reg:squarederror. Error: 'objective'
[0]	train-rmse:41576.4	test-rmse:52105.8
[1]	train-rmse:32949.1	test-rmse:47873.3
[2]	train-rmse:28590.8	test-rmse:43968.7
[3]	train-rmse:27155.6	test-rmse:43293.6
[4]	train-rmse:25787.4	test-rmse:42973.1
[5]	train-rmse:23016.3	test-rmse:42327.7
[6]	train-rmse:21573.4	test-rmse:41255.5
[7]	train-rmse:20033.1	test-rmse:40777.5
[8]	train-rmse:19389.7	test-rmse:40737.2
[9]	train-rmse:18319.1	test-rmse:40754.9
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 4
dataset kfold 4: Mean squared error: 1660957699.4353
dataset kfold 4:  R2: 75.7 %
fold_nr. 5
The num_round is not defined. The default value is num_round = 10. Error: 'num_round'
The objective is not defined. The default value is reg:squarederror. Error: 'objective'
[0]	train-rmse:42779.2	test-rmse:42579
[1]	train-rmse:33227.3	test-rmse:40324.1
[2]	train-rmse:29597.4	test-rmse:38645.5
[3]	train-rmse:26550.4	test-rmse:38023.2
[4]	train-rmse:24786.8	test-rmse:37763
[5]	train-rmse:23707.5	test-rmse:37263
[6]	train-rmse:22567.1	test-rmse:37044.5
[7]	train-rmse:21038.9	test-rmse:36736.5
[8]	train-rmse:19758	test-rmse:37546.3
[9]	train-rmse:19088.7	test-rmse:38094.6
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the dataset kfold 5
dataset kfold 5: Mean squared error: 1451201854.7691
dataset kfold 5:  R2: 74.2 %

,fold_1,fold_2,fold_3,fold_4,fold_5,mean
mean_squared_error,1.948554e+09,1.841913e+09,1.789568e+09,1.660958e+09,1.451202e+09,1.738439e+09
r2_score,7.270000e+01,6.970000e+01,6.940000e+01,7.570000e+01,7.420000e+01,7.234000e+01

The objective is not defined. The default value is reg:squarederror. Error: 'objective'
This is xgboost exception. Error: 'DMatrix' object has no attribute 'to_numpy'
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 654786337.8087
Evaluating the dataset: train:  R2: 89.6 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 609789579.1192
Evaluating the dataset: train:  R2: 90.3 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 586211982.6015
Evaluating the dataset: train:  R2: 90.7 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 600664512.3268
Evaluating the dataset: train:  R2: 90.5 %
the required metrics =  ['r2_score', 'mean_squared_error']
The quality of the model using the Evaluating the dataset: train
Evaluating the dataset: train: Mean squared error: 581741999.5802
Evaluating the dataset: train:  R2: 90.8 %
train: Mean squared error linear: 606638882.2872798
train:  Mean R2: 90.38 %

,model_1,model_2,model_3,model_4,model_5,mean
mean_squared_error (train),6.547863e+08,6.097896e+08,5.862120e+08,6.006645e+08,5.817420e+08,6.066389e+08
r2_score (train),8.960000e+01,9.030000e+01,9.070000e+01,9.050000e+01,9.080000e+01,9.038000e+01

This is the end of the flow