In [1]:
import os

In [2]:
os.chdir('..')

<img src="flow_1.png">

In [3]:
from flows.flows import Flows

Welcome to the Data Science Package. First create an object as follows:
For example, use the code below to import the flow 0:
flow = Flows(0)
You can define the `categorical_threshold` which is the maximum number of categories that a categorical feature should have before considering it as continuous numeric feature. The default value is 50
For example, use the code below to import the flow 0 with defining the categorical_threshold as 50
flow = Flows(flow_id=0, categorical_threshold=50)

In [4]:
flow = Flows(1)

Please use the following function to read the data
dataframe_dict, columns_set = flow.load_data(path : str, files_list : list)
For example: path = './data'
If your data is in a nested directory, it is better to os.path.join. For example: path = os.path.join('data', 'flow_0')
For example: files_list = ['train.csv','test.csv']
The output is a dictionary that contains dataframes e.g.
dataframe_dict = {'train': train_dataframe,'test': test_dataframe}
If you want to explore the data you can run one of the following functions:
1 . flow.exploring_data(dataframe_dict: dict, key_i: str)
For example: flow.exploring_data(dataframe_dict, 'train')
2 . flow.comparing_statistics(dataframe_dict: dict)
For example: flow.comparing_statistics(dataframe_dict)

In [5]:
path = './data/flow_1'
files_list = ['train.csv','test.csv']

In [6]:
dataframe_dict, columns_set = flow.load_data(path, files_list)

A summary of the data sets

                     train  test
column type
categorical_integer     18    18
categorical_string      43    43
continuous              20    19
date                     0     0
json                     0     0
other                    0     0
total amount            81    80

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
The possible ids are {'Id'}
The possible possible_target are ['SalePrice']
The type of the problem that should be solved {'SalePrice': 'regression'}
If you have categorical features with string labels, Encode the categorical features by applying the following function:
dataframe_dict, columns_set = flow.encode_categorical_feature(dataframe_dict: dict)

In [7]:
dataframe_dict, columns_set = flow.encode_categorical_feature(dataframe_dict)

The reference dataframe is: train
******************************
A summary of the data sets

                     train  test
column type
categorical_integer     61    61
categorical_string       0     0
continuous              20    19
date                     0     0
json                     0     0
other                    0     0
total amount            81    80

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
You have categorical features. Apply one-hot encoding to the categorical features by applying the following function:
dataframe_dict, columns_set = flow.features_encoding("one-hot", dataframe_dict: dict, reference: str, ignore_columns: list, class_number_range = [3, 50])
Since one-hot encoding can produce a lot of features, class_number_range will limit the encoding process only for features which have between 3 and 49 unique values.
If you are solving a classification problem, you should exclude the target from the one - hot encoding process by defining the ignore_columns
  ignore_columns = [ < your target / label >]
 You can add more columns to the ignore_columns list to ignore

In [8]:
ignore_columns = ['id', 'SalePrice']

In [9]:
dataframe_dict, columns_set = flow.features_encoding("one-hot",
                                                    dataframe_dict,
                                                    "train",
                                                    ignore_columns,
                                                    class_number_range=[3, 50])

A summary of the data sets

                     train  test
column type
categorical_integer    436   436
categorical_string       0     0
continuous              20    19
date                     0     0
json                     0     0
other                    0     0
total amount           456   455

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
If you have numeric features, it is a good idea to normalize numeric features.Use the following function for feature normalization:
 dataframe_dict, columns_set = flow.scale_data (dataframe_dict: dict, ignore_columns: list)
For example: ignore_columns = ['id', 'target']

In [10]:
dataframe_dict, columns_set = flow.scale_data(dataframe_dict, ignore_columns)

A summary of the data sets

                     train  test
column type
categorical_integer    436   436
categorical_string       0     0
continuous              20    19
date                     0     0
json                     0     0
other                    0     0
total amount           456   455

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
If you want to explore the data you can run one of the following functions:
1 . flow.exploring_data(dataframe_dict: dict, key_i: str)
For example: flow.exploring_data(dataframe_dict, 'train')
2 . flow.comparing_statistics(dataframe_dict: dict)
For example: flow.comparing_statistics(dataframe_dict)


Your features are ready to train the model:
You can start training the model by applying the following function:
model_index_list, save_models_dir, y_test = flow.training(parameters)
parameters = {
     "data": {
         "train": {"features": train_dataframe, "target": train_target},
         "valid": {"features": valid_dataframe, "target": valid_target},
         "test": {"features": test_dataframe, "target": test_target},
     },
     "split": {
         "method": "split",
         "split_ratios": 0.2
         },
      "model": {"type": "Ridge linear regression",
               "hyperparameters": {"alpha": 1,  # alpha:optimize}
             },
      "metrics": ["r2_score", "mean_squared_error"]
}

In [11]:
import numpy as np

In [12]:
ignore_columns = ["id", "SalePrice"]
columns = columns_set["train"]["categorical_integer"] +  columns_set["train"]['continuous']
train_dataframe = dataframe_dict["train"][[x for x in columns if x not in ignore_columns]]
test_dataframe = dataframe_dict["test"][[x for x in columns if x not in ignore_columns]]
train_target = np.log1p(dataframe_dict["train"]["SalePrice"])

In [13]:
parameters = {
    "data": {
        "train": {"features": train_dataframe, "target": train_target.to_numpy()},
    },
    "split": {
        "method": "kfold",  # "method":"kfold"
        "fold_nr":5,  # foldnr:5 , "split_ratios": 0.2 # "split_ratios":(0.3,0.2)
    },
    "model": {"type": "Ridge linear regression",
              "hyperparameters": {"alpha": "optimize",  # alpha:optimize
                                  },
              },
    "metrics": ["r2_score", "mean_squared_error"],
    "predict": {
        "test": {"features": test_dataframe}
    }
}

In [14]:
model_index_list, save_models_dir, y_test = flow.training(parameters)

shuffle is not provided: 'shuffle'
random_state is not provided: 'random_state'
fold_nr. 1
{'r2_score (train.train)': 93.03, 'mean_squared_error (train.train)': 0.010829627839826656, 'r2_score (train.validation)': 89.87, 'mean_squared_error (train.validation)': 0.017587167529686344}
fold_nr. 2
{'r2_score (train.train)': 94.11, 'mean_squared_error (train.train)': 0.009124738874478344, 'r2_score (train.validation)': 79.19, 'mean_squared_error (train.validation)': 0.03684902140085739}
fold_nr. 3
{'r2_score (train.train)': 93.05, 'mean_squared_error (train.train)': 0.01125179404112949, 'r2_score (train.validation)': 90.19, 'mean_squared_error (train.validation)': 0.014576632419590348}
fold_nr. 4
{'r2_score (train.train)': 93.75, 'mean_squared_error (train.train)': 0.01016475967900984, 'r2_score (train.validation)': 85.77, 'mean_squared_error (train.validation)': 0.02081168725341332}
fold_nr. 5
{'r2_score (train.train)': 92.68, 'mean_squared_error (train.train)': 0.01185497854455985, 'r2_score (train.validation)': 91.98, 'mean_squared_error (train.validation)': 0.011999407038087015}

,fold_1,fold_2,fold_3,fold_4,fold_5,mean
mean_squared_error (train.train),0.010830,0.009125,0.011252,0.010165,0.011855,0.010645
mean_squared_error (train.validation),0.017587,0.036849,0.014577,0.020812,0.011999,0.020365
r2_score (train.train),93.030000,94.110000,93.050000,93.750000,92.680000,93.324000
r2_score (train.validation),89.870000,79.190000,90.190000,85.770000,91.980000,87.400000

,model 1,model 2,model 3,model 4,model 5,mean
mean_squared_error (train),0.012181,0.01467,0.011917,0.012294,0.011884,0.012589
r2_score (train),92.360000,90.80000,92.530000,92.290000,92.550000,92.106000

This is the end of the flow

In [15]:
parameters_lighgbm = {
    "data": {
        "train": {"features": train_dataframe, "target": train_target.to_numpy()},
    },
    "split": {
        "method": "kfold",  # "method":"kfold"
        "fold_nr": 5,  # foldnr:5 , "split_ratios": 0.2 # "split_ratios":(0.3,0.2)
    },
    "model": {"type": "lightgbm",
              "hyperparameters": dict(objective='regression', metric='root_mean_squared_error', num_leaves=5,
                                      boost_from_average=True,
                                      learning_rate=0.05, bagging_fraction=0.99, feature_fraction=0.99, max_depth=-1,
                                      num_rounds=10000, min_data_in_leaf=10, boosting='dart')
              },
    "metrics": ["r2_score", "mean_squared_error"],
    "predict": {
        "test": {"features": test_dataframe}
    }
}

In [16]:
model_index_list, save_models_dir, y_test = flow.training(parameters_lighgbm)

shuffle is not provided: 'shuffle'
random_state is not provided: 'random_state'
fold_nr. 1
{'r2_score (train.train)': 99.02, 'mean_squared_error (train.train)': 0.0015255793518092105, 'r2_score (train.validation)': 88.56, 'mean_squared_error (train.validation)': 0.019862212108576926}
fold_nr. 2
{'r2_score (train.train)': 99.03, 'mean_squared_error (train.train)': 0.0015043480236800282, 'r2_score (train.validation)': 88.23, 'mean_squared_error (train.validation)': 0.0208390023246862}
fold_nr. 3
{'r2_score (train.train)': 99.04, 'mean_squared_error (train.train)': 0.0015472194771823, 'r2_score (train.validation)': 89.07, 'mean_squared_error (train.validation)': 0.016230423033236133}
fold_nr. 4
{'r2_score (train.train)': 99.03, 'mean_squared_error (train.train)': 0.0015827508268451843, 'r2_score (train.validation)': 88.1, 'mean_squared_error (train.validation)': 0.01739799081924013}
fold_nr. 5
{'r2_score (train.train)': 99.01, 'mean_squared_error (train.train)': 0.0016003269260413716, 'r2_score (train.validation)': 91.76, 'mean_squared_error (train.validation)': 0.012320632909978976}

,fold_1,fold_2,fold_3,fold_4,fold_5,mean
mean_squared_error (train.train),0.001526,0.001504,0.001547,0.001583,0.001600,0.001552
mean_squared_error (train.validation),0.019862,0.020839,0.016230,0.017398,0.012321,0.017330
r2_score (train.train),99.020000,99.030000,99.040000,99.030000,99.010000,99.026000
r2_score (train.validation),88.560000,88.230000,89.070000,88.100000,91.760000,89.144000

,model 1,model 2,model 3,model 4,model 5,mean
mean_squared_error (train),0.005193,0.005371,0.004484,0.004746,0.003744,0.004708
r2_score (train),96.740000,96.630000,97.190000,97.020000,97.650000,97.046000

This is the end of the flow

In [17]:
parameters_xgboost = {
    "data": {
        "train": {"features": train_dataframe, "target": train_target.to_numpy()},
    },
    "split": {
        "method": "kfold",  # "method":"kfold"
        "fold_nr": 5,  # fold_nr:5 , "split_ratios": 0.3 # "split_ratios":(0.3,0.2)
    },
    "model": {"type": "xgboost",
              "hyperparameters": {'max_depth': 5, 'eta': 1, 'eval_metric': "rmse"}
              },
    "metrics": ["r2_score", "mean_squared_error"],
    "predict": {
        "test": {"features": test_dataframe}
    }
}

In [ ]:
model_index_list, save_models_dir, y_test = flow.training(parameters_xgboost)