In [1]:
import os

In [2]:
os.chdir('..')

<img src="flow_5.png">

In [28]:
from flows.flows import Flows

In [29]:
flow = Flows(5)

Please use the following function to read the data
dataframe_dict, columns_set = flow.load_data(path : str, files_list : list)
For example: path = './data'
If your data is in a nested directory, it is better to os.path.join. For example: path = os.path.join('data', 'flow_0')
For example: files_list = ['train.csv','test.csv']
The output is a dictionary that contains dataframes e.g.
dataframe_dict = {'train': train_dataframe,'test': test_dataframe}
If you want to explore the data you can run one of the following functions:
1 . flow.exploring_data(dataframe_dict: dict, key_i: str)
For example: flow.exploring_data(dataframe_dict, 'train')
2 . flow.comparing_statistics(dataframe_dict: dict)
For example: flow.comparing_statistics(dataframe_dict)

In [30]:
path = "./data/flow_3" # the flow applied to the same data in flow_3
files_list = ['train_transaction.csv','test_transaction.csv']

In [31]:
dataframe_dict, columns_set = flow.load_data(path, files_list, rows_amount=10000)

A summary of the data sets

                     train_transaction  test_transaction
column type
categorical_integer                300               287
categorical_string                  14                14
continuous                          80                92
date                                 0                 0
json                                 0                 0
other                                0                 0
total amount                       394               393

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
The possible ids are {'TransactionID'}
The possible possible_target are ['isFraud']
The type of the problem that should be solved {'isFraud': 'classification'}

The Kullback-Leibler Divergence between probability mass function (pmf) derived from `isFraud` and and an uniformly distributed pmf 	 = 1.136
It is above the threshold 	 0.050.
Imballanced target variable!

                total count  frequency (%)
isFraud values
0                      9735          97.35
1                       265           2.65

If you have categorical features with string labels, Encode the categorical features by applying the following function:
dataframe_dict, columns_set = flow.encode_categorical_feature(dataframe_dict: dict)

In [32]:
dataframe_dict["train_transaction"].head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
 columns_set["train_transaction"].keys()

dict_keys(['categorical_string', 'categorical_integer', 'continuous', 'date', 'json', 'other'])

Let us load the second dataset similar to the first dataset

In [34]:
files_list_2 = ['train_identity.csv','test_identity.csv']
dataframe_dict_identity, columns_set_identity = flow.load_data(path, files_list_2, rows_amount=10000)

A summary of the data sets

                     train_identity  test_identity
column type
categorical_integer              14             13
categorical_string               17             17
continuous                       10             11
date                              0              0
json                              0              0
other                             0              0
total amount                     41             41

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
The possible ids are {'TransactionID'}
The possible possible_target are ['TransactionID', 'TransactionID', 'id_01', 'id_01', 'id_12', 'id_12']
The type of the problem that should be solved {'TransactionID': 'regression', 'id_01': 'classification', 'id_12': 'classification'}

The Kullback-Leibler Divergence between probability mass function (pmf) derived from `id_01` and and an uniformly distributed pmf 	 = 3.380
It is above the threshold 	 0.050.
Imballanced target variable!

              total count  frequency (%)
id_01 values
-100.0              200.0           1.00
-95.0                79.0           0.40
-90.0                21.0           0.10
-87.0                 4.0           0.02
-85.0                19.0           0.10
-80.0                25.0           0.12
-75.0                20.0           0.10
-72.0                 1.0           0.00
-70.0                11.0           0.06
-65.0                15.0           0.08
-64.0                 1.0           0.00
-61.0                 1.0           0.00
-60.0                40.0           0.20
-58.0                 1.0           0.00
-55.0                35.0           0.18
-50.0                80.0           0.40
-45.0               310.0           1.55
-40.0               225.0           1.12
-35.0               168.0           0.84
-34.0                 3.0           0.02
-33.0                 1.0           0.00
-32.0                 7.0           0.04
-31.0                 7.0           0.04
-30.0               115.0           0.57
-29.0                 1.0           0.00
-27.0                 1.0           0.00
-26.0                 1.0           0.00
-25.0               712.0           3.56
-21.0                 5.0           0.02
-20.0              1266.0           6.33
-19.0                 1.0           0.00
-18.0                 5.0           0.02
-17.0                 3.0           0.02
-16.0                 4.0           0.02
-15.0               943.0           4.72
-12.0                 3.0           0.02
-11.0                 2.0           0.01
-10.0              1505.0           7.52
-9.0                  1.0           0.00
-7.0                  1.0           0.00
-6.0                  1.0           0.00
-5.0              10813.0          54.06
 0.0               3343.0          16.72

The Kullback-Leibler Divergence between probability mass function (pmf) derived from `id_12` and and an uniformly distributed pmf 	 = 0.332
It is above the threshold 	 0.050.
Imballanced target variable!

              total count  frequency (%)
id_12 values
NotFound            16966          84.83
Found                3034          15.17

If you have categorical features with string labels, Encode the categorical features by applying the following function:
dataframe_dict, columns_set = flow.encode_categorical_feature(dataframe_dict: dict)

Here we will merge both datasets. This causes that we diverge from the flow that we load.

In [35]:
import pandas as pd
dataframe_train =  pd.merge(dataframe_dict["train_transaction"],
                            dataframe_dict_identity["train_identity"],
                            on='TransactionID') 
dataframe_test = pd.merge(dataframe_dict["test_transaction"],
                            dataframe_dict_identity["test_identity"],
                            on='TransactionID')

In [36]:
dataframe_dict = {}
dataframe_dict["train"] = dataframe_train
dataframe_dict["test"] = dataframe_test

Here we can come back to the flow by using one command only.

In [37]:
columns_set = flow.update_data_summary(dataframe_dict)

A summary of the data sets

                     train  test
column type
categorical_integer    342   326
categorical_string      23    23
continuous              61    76
date                     8     8
json                     0     0
other                    0     0
total amount           434   433

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
It seems that the next step is not defined. Error'8'

In [38]:
dataframe_dict, columns_set = flow.encode_categorical_feature(dataframe_dict,print_results=10)

The reference dataframe is: train
there are 2 datasets provided
encoding the feature in the dataset train
the number of classes in ProductCD feature is: 4
encoding the feature in the dataset test
the number of classes in ProductCD feature is: 4
there are 2 datasets provided
encoding the feature in the dataset train
the number of classes in card4 feature is: 5
encoding the feature in the dataset test
the number of classes in card4 feature is: 5
there are 2 datasets provided
encoding the feature in the dataset train
the number of classes in card6 feature is: 3
encoding the feature in the dataset test
the number of classes in card6 feature is: 3
there are 2 datasets provided
encoding the feature in the dataset train
the number of classes in P_emaildomain feature is: 47
encoding the feature in the dataset test
the number of classes in P_emaildomain feature is: 47
there are 2 datasets provided
encoding the feature in the dataset train
the number of classes in R_emaildomain feature is: 45
encoding the feature in the dataset test
the number of classes in R_emaildomain feature is: 45
there are 2 datasets provided
encoding the feature in the dataset train
the number of classes in M4 feature is: 4
encoding the feature in the dataset test
the number of classes in M4 feature is: 4
there are 2 datasets provided
encoding the feature in the dataset train
the number of classes in id_12 feature is: 2
encoding the feature in the dataset test
the number of classes in id_12 feature is: 2
there are 2 datasets provided
encoding the feature in the dataset train
the number of classes in id_15 feature is: 4
encoding the feature in the dataset test
the number of classes in id_15 feature is: 4
there are 2 datasets provided
encoding the feature in the dataset train
the number of classes in id_16 feature is: 3
encoding the feature in the dataset test
the number of classes in id_16 feature is: 3
there are 2 datasets provided
encoding the feature in the dataset train
the number of classes in id_23 feature is: 4
encoding the feature in the dataset test
the number of classes in id_23 feature is: 4
the value is considered integer
Number of unique elements per string column

                train   test  all data sets
string columns
isFraud             2    NaN              2
ProductCD           4    4.0              4
card3              24   34.0             38
card4               5    5.0              5
card5              38   36.0             44
...               ...    ...            ...
id_36               3    3.0              3
id_37               3    3.0              3
id_38               3    3.0              3
DeviceType          3    3.0              3
DeviceInfo        173  151.0            286

[365 rows x 3 columns]

******************************
A summary of the data sets

                     train  test
column type
categorical_integer    360   346
categorical_string       0     0
continuous              66    79
date                     8     8
json                     0     0
other                    0     0
total amount           434   433

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
Apply target-based encoding to the categorical features by applying the following function:

dataframe_dict, columns_set = flow.features_encoding("frequency", dataframe_dict: dict, reference: str, drop_encoded_features = False)

In [39]:
ignore_columns = ["TransactionID", "isFraud"]
reference = "train"

In [40]:
dataframe_dict, columns_set = flow.features_encoding("frequency",
                                                     dataframe_dict,
                                                     reference=reference,
                                                     ignore_columns=ignore_columns,
                                                     drop_encoded_features = False)

decoding the column ProductCD based on the value frequency
decoding the column card3 based on the value frequency
decoding the column card4 based on the value frequency
decoding the column card5 based on the value frequency
decoding the column card6 based on the value frequency
decoding the column addr2 based on the value frequency
decoding the column dist1 based on the value frequency
decoding the column P_emaildomain based on the value frequency
decoding the column R_emaildomain based on the value frequency
decoding the column C1 based on the value frequency
decoding the column C3 based on the value frequency
decoding the column C4 based on the value frequency
decoding the column C5 based on the value frequency
decoding the column C6 based on the value frequency
decoding the column C7 based on the value frequency
decoding the column C8 based on the value frequency
decoding the column C9 based on the value frequency
decoding the column C10 based on the value frequency
decoding the column C11 based on the value frequency
decoding the column C12 based on the value frequency
decoding the column C14 based on the value frequency
decoding the column D9 based on the value frequency
decoding the column D10 based on the value frequency
decoding the column D11 based on the value frequency
decoding the column D13 based on the value frequency
decoding the column M4 based on the value frequency
decoding the column V1 based on the value frequency
decoding the column V2 based on the value frequency
decoding the column V3 based on the value frequency
decoding the column V4 based on the value frequency
decoding the column V5 based on the value frequency
decoding the column V6 based on the value frequency
decoding the column V7 based on the value frequency
decoding the column V8 based on the value frequency
decoding the column V9 based on the value frequency
decoding the column V10 based on the value frequency
decoding the column V11 based on the value frequency
decoding the column V12 based on the value frequency
decoding the column V13 based on the value frequency
decoding the column V14 based on the value frequency
decoding the column V15 based on the value frequency
decoding the column V16 based on the value frequency
decoding the column V17 based on the value frequency
decoding the column V18 based on the value frequency
decoding the column V19 based on the value frequency
decoding the column V20 based on the value frequency
decoding the column V21 based on the value frequency
decoding the column V22 based on the value frequency
decoding the column V23 based on the value frequency
decoding the column V24 based on the value frequency
decoding the column V25 based on the value frequency
decoding the column V26 based on the value frequency
decoding the column V27 based on the value frequency
decoding the column V28 based on the value frequency
decoding the column V29 based on the value frequency
decoding the column V30 based on the value frequency
decoding the column V31 based on the value frequency
decoding the column V32 based on the value frequency
decoding the column V33 based on the value frequency
decoding the column V34 based on the value frequency
decoding the column V35 based on the value frequency
decoding the column V36 based on the value frequency
decoding the column V37 based on the value frequency
decoding the column V38 based on the value frequency
decoding the column V39 based on the value frequency
decoding the column V40 based on the value frequency
decoding the column V41 based on the value frequency
decoding the column V42 based on the value frequency
decoding the column V43 based on the value frequency
decoding the column V44 based on the value frequency
decoding the column V45 based on the value frequency
decoding the column V46 based on the value frequency
decoding the column V47 based on the value frequency
decoding the column V48 based on the value frequency
decoding the column V49 based on the value frequency
decoding the column V50 based on the value frequency
decoding the column V51 based on the value frequency
decoding the column V52 based on the value frequency
decoding the column V53 based on the value frequency
decoding the column V54 based on the value frequency
decoding the column V55 based on the value frequency
decoding the column V56 based on the value frequency
decoding the column V57 based on the value frequency
decoding the column V58 based on the value frequency
decoding the column V59 based on the value frequency
decoding the column V60 based on the value frequency
decoding the column V61 based on the value frequency
decoding the column V62 based on the value frequency
decoding the column V63 based on the value frequency
decoding the column V64 based on the value frequency
decoding the column V65 based on the value frequency
decoding the column V66 based on the value frequency
decoding the column V67 based on the value frequency
decoding the column V68 based on the value frequency
decoding the column V69 based on the value frequency
decoding the column V70 based on the value frequency
decoding the column V71 based on the value frequency
decoding the column V72 based on the value frequency
decoding the column V73 based on the value frequency
decoding the column V74 based on the value frequency
decoding the column V75 based on the value frequency
decoding the column V76 based on the value frequency
decoding the column V77 based on the value frequency
decoding the column V78 based on the value frequency
decoding the column V79 based on the value frequency
decoding the column V80 based on the value frequency
decoding the column V81 based on the value frequency
decoding the column V82 based on the value frequency
decoding the column V83 based on the value frequency
decoding the column V84 based on the value frequency
decoding the column V85 based on the value frequency
decoding the column V86 based on the value frequency
decoding the column V87 based on the value frequency
decoding the column V88 based on the value frequency
decoding the column V89 based on the value frequency
decoding the column V90 based on the value frequency
decoding the column V91 based on the value frequency
decoding the column V92 based on the value frequency
decoding the column V93 based on the value frequency
decoding the column V94 based on the value frequency
decoding the column V95 based on the value frequency
decoding the column V96 based on the value frequency
decoding the column V97 based on the value frequency
decoding the column V98 based on the value frequency
decoding the column V99 based on the value frequency
decoding the column V100 based on the value frequency
decoding the column V101 based on the value frequency
decoding the column V102 based on the value frequency
decoding the column V103 based on the value frequency
decoding the column V104 based on the value frequency
decoding the column V105 based on the value frequency
decoding the column V106 based on the value frequency
decoding the column V107 based on the value frequency
decoding the column V108 based on the value frequency
decoding the column V109 based on the value frequency
decoding the column V110 based on the value frequency
decoding the column V111 based on the value frequency
decoding the column V112 based on the value frequency
decoding the column V113 based on the value frequency
decoding the column V114 based on the value frequency
decoding the column V115 based on the value frequency
decoding the column V116 based on the value frequency
decoding the column V117 based on the value frequency
decoding the column V118 based on the value frequency
decoding the column V119 based on the value frequency
decoding the column V120 based on the value frequency
decoding the column V121 based on the value frequency
decoding the column V122 based on the value frequency
decoding the column V123 based on the value frequency
decoding the column V124 based on the value frequency
decoding the column V125 based on the value frequency
decoding the column V129 based on the value frequency
decoding the column V130 based on the value frequency
decoding the column V131 based on the value frequency
decoding the column V132 based on the value frequency
decoding the column V133 based on the value frequency
decoding the column V134 based on the value frequency
decoding the column V135 based on the value frequency
decoding the column V136 based on the value frequency
decoding the column V137 based on the value frequency
decoding the column V138 based on the value frequency
decoding the column V139 based on the value frequency
decoding the column V140 based on the value frequency
decoding the column V141 based on the value frequency
decoding the column V142 based on the value frequency
decoding the column V143 based on the value frequency
decoding the column V144 based on the value frequency
decoding the column V145 based on the value frequency

decoding the column V146 based on the value frequency
decoding the column V147 based on the value frequency
decoding the column V148 based on the value frequency
decoding the column V149 based on the value frequency
decoding the column V151 based on the value frequency
decoding the column V152 based on the value frequency
decoding the column V153 based on the value frequency
decoding the column V154 based on the value frequency
decoding the column V155 based on the value frequency
decoding the column V156 based on the value frequency
decoding the column V157 based on the value frequency
decoding the column V158 based on the value frequency
decoding the column V161 based on the value frequency
decoding the column V162 based on the value frequency
decoding the column V163 based on the value frequency
decoding the column V167 based on the value frequency
decoding the column V168 based on the value frequency
decoding the column V169 based on the value frequency
decoding the column V170 based on the value frequency
decoding the column V171 based on the value frequency
decoding the column V172 based on the value frequency
decoding the column V173 based on the value frequency
decoding the column V174 based on the value frequency
decoding the column V175 based on the value frequency
decoding the column V176 based on the value frequency
decoding the column V177 based on the value frequency
decoding the column V178 based on the value frequency
decoding the column V179 based on the value frequency
decoding the column V180 based on the value frequency
decoding the column V181 based on the value frequency
decoding the column V182 based on the value frequency
decoding the column V183 based on the value frequency
decoding the column V184 based on the value frequency
decoding the column V185 based on the value frequency
decoding the column V186 based on the value frequency
decoding the column V187 based on the value frequency
decoding the column V188 based on the value frequency
decoding the column V189 based on the value frequency
decoding the column V190 based on the value frequency
decoding the column V191 based on the value frequency
decoding the column V192 based on the value frequency
decoding the column V193 based on the value frequency
decoding the column V194 based on the value frequency
decoding the column V195 based on the value frequency
decoding the column V196 based on the value frequency
decoding the column V197 based on the value frequency
decoding the column V198 based on the value frequency
decoding the column V199 based on the value frequency
decoding the column V200 based on the value frequency
decoding the column V201 based on the value frequency
decoding the column V205 based on the value frequency
decoding the column V206 based on the value frequency
decoding the column V207 based on the value frequency
decoding the column V208 based on the value frequency
decoding the column V209 based on the value frequency
decoding the column V210 based on the value frequency
decoding the column V211 based on the value frequency
decoding the column V214 based on the value frequency
decoding the column V215 based on the value frequency
decoding the column V216 based on the value frequency
decoding the column V217 based on the value frequency
decoding the column V218 based on the value frequency
decoding the column V219 based on the value frequency
decoding the column V220 based on the value frequency
decoding the column V221 based on the value frequency
decoding the column V222 based on the value frequency
decoding the column V223 based on the value frequency
decoding the column V224 based on the value frequency
decoding the column V225 based on the value frequency
decoding the column V226 based on the value frequency
decoding the column V227 based on the value frequency
decoding the column V228 based on the value frequency
decoding the column V229 based on the value frequency
decoding the column V230 based on the value frequency
decoding the column V231 based on the value frequency
decoding the column V232 based on the value frequency
decoding the column V233 based on the value frequency
decoding the column V234 based on the value frequency
decoding the column V235 based on the value frequency
decoding the column V236 based on the value frequency
decoding the column V237 based on the value frequency
decoding the column V238 based on the value frequency
decoding the column V239 based on the value frequency
decoding the column V240 based on the value frequency
decoding the column V241 based on the value frequency
decoding the column V242 based on the value frequency
decoding the column V243 based on the value frequency
decoding the column V244 based on the value frequency
decoding the column V245 based on the value frequency
decoding the column V246 based on the value frequency
decoding the column V247 based on the value frequency
decoding the column V248 based on the value frequency
decoding the column V249 based on the value frequency
decoding the column V250 based on the value frequency
decoding the column V251 based on the value frequency
decoding the column V252 based on the value frequency
decoding the column V253 based on the value frequency
decoding the column V254 based on the value frequency
decoding the column V255 based on the value frequency
decoding the column V256 based on the value frequency
decoding the column V257 based on the value frequency
decoding the column V258 based on the value frequency
decoding the column V259 based on the value frequency
decoding the column V260 based on the value frequency
decoding the column V261 based on the value frequency
decoding the column V262 based on the value frequency
decoding the column V266 based on the value frequency
decoding the column V269 based on the value frequency
decoding the column V270 based on the value frequency
decoding the column V271 based on the value frequency
decoding the column V272 based on the value frequency
decoding the column V273 based on the value frequency
decoding the column V276 based on the value frequency
decoding the column V277 based on the value frequency
decoding the column V278 based on the value frequency
decoding the column V279 based on the value frequency
decoding the column V280 based on the value frequency
decoding the column V281 based on the value frequency
decoding the column V282 based on the value frequency
decoding the column V283 based on the value frequency
decoding the column V284 based on the value frequency
decoding the column V285 based on the value frequency
decoding the column V286 based on the value frequency
decoding the column V287 based on the value frequency
decoding the column V288 based on the value frequency
decoding the column V289 based on the value frequency
decoding the column V290 based on the value frequency
decoding the column V291 based on the value frequency
decoding the column V292 based on the value frequency
decoding the column V293 based on the value frequency
decoding the column V294 based on the value frequency
decoding the column V295 based on the value frequency
decoding the column V296 based on the value frequency
decoding the column V297 based on the value frequency
decoding the column V298 based on the value frequency
decoding the column V299 based on the value frequency
decoding the column V300 based on the value frequency
decoding the column V301 based on the value frequency
decoding the column V302 based on the value frequency
decoding the column V303 based on the value frequency
decoding the column V304 based on the value frequency
decoding the column V305 based on the value frequency
decoding the column V311 based on the value frequency
decoding the column V319 based on the value frequency
decoding the column V321 based on the value frequency
decoding the column V322 based on the value frequency
decoding the column V323 based on the value frequency
decoding the column V324 based on the value frequency
decoding the column V325 based on the value frequency
decoding the column V326 based on the value frequency
decoding the column V327 based on the value frequency
decoding the column V328 based on the value frequency
decoding the column V329 based on the value frequency
decoding the column V330 based on the value frequency
decoding the column V331 based on the value frequency
decoding the column V334 based on the value frequency
decoding the column V335 based on the value frequency
decoding the column V336 based on the value frequency
decoding the column V337 based on the value frequency
decoding the column V338 based on the value frequency
decoding the column V339 based on the value frequency

decoding the column id_01 based on the value frequency
decoding the column id_03 based on the value frequency
decoding the column id_04 based on the value frequency
decoding the column id_07 based on the value frequency
decoding the column id_08 based on the value frequency
decoding the column id_09 based on the value frequency
decoding the column id_10 based on the value frequency
decoding the column id_12 based on the value frequency
decoding the column id_13 based on the value frequency
decoding the column id_14 based on the value frequency
decoding the column id_15 based on the value frequency
decoding the column id_16 based on the value frequency
decoding the column id_17 based on the value frequency
decoding the column id_18 based on the value frequency
decoding the column id_21 based on the value frequency
decoding the column id_22 based on the value frequency
decoding the column id_23 based on the value frequency
decoding the column id_24 based on the value frequency
decoding the column id_25 based on the value frequency
decoding the column id_26 based on the value frequency
decoding the column id_27 based on the value frequency
decoding the column id_28 based on the value frequency
decoding the column id_29 based on the value frequency
decoding the column id_32 based on the value frequency
decoding the column id_34 based on the value frequency
decoding the column id_35 based on the value frequency
decoding the column id_36 based on the value frequency
decoding the column id_37 based on the value frequency
decoding the column id_38 based on the value frequency
decoding the column DeviceType based on the value frequency
A summary of the data sets

                     train  test
column type
categorical_integer    719   705
categorical_string       0     0
continuous              66    79
date                     8     8
json                     0     0
other                    0     0
total amount           793   792

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
If some features have in all rows the same value, they have no influence on the target prediction. It is a good idea to delete such features:
dataframe_dict, columns_set = flow.drop_columns_constant_values(dataframe_dict: dict, ignore_columns: list)An example of the ignore_columns list:
 ignore_columns = [target]

In [41]:
ignore_columns = ['isFraud']

In [42]:
dataframe_dict, columns_set = flow.drop_columns_constant_values(dataframe_dict, ignore_columns)

dist1 1
C5 1
C9 1
D11 1
M1 0
M2 0
M3 0
M5 0
M6 0
M7 0
M8 0
M9 0
V1 1
V2 1
V3 1
V4 1
V5 1
V6 1
V7 1
V8 1
V9 1
V10 1
V11 1
V107 1
V305 1
dist1_frequency_encoding 1
C5_frequency_encoding 1
C9_frequency_encoding 1
D11_frequency_encoding 1
V1_frequency_encoding 1
V2_frequency_encoding 1
V3_frequency_encoding 1
V4_frequency_encoding 1
V5_frequency_encoding 1
V6_frequency_encoding 1
V7_frequency_encoding 1
V8_frequency_encoding 1
V9_frequency_encoding 1
V10_frequency_encoding 1
V11_frequency_encoding 1
V107_frequency_encoding 1
V305_frequency_encoding 1
Constant columns count: 42
793 columns total
751 columns left
The set of remaining columns should be modified. Error: "['isFraud'] not in index"
A summary of the data sets

                     train  test
column type
categorical_integer    685   671
categorical_string       0     0
continuous              66    79
date                     0     0
json                     0     0
other                    0     0
total amount           751   750

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
If some features are highly correlated, they do not provide more information about the target prediction. It is a good idea to drop such features but keep one:
dataframe_dict, columns_set = flow.drop_correlated_columns(dataframe_dict: dict, ignore_columns: list)An example of the ignore_columns list:
 ignore_columns = [target]

In [43]:
dataframe_dict, columns_set = flow.drop_correlated_columns(dataframe_dict, ignore_columns)

Columns with correlations more than 0.98 :
TransactionID-->TransactionDT: r^2=0.9845800031678279
TransactionDT-->TransactionID: r^2=0.9845800031678279
card4-->card4_frequency_encoding: r^2=0.9914708762006456
addr2-->V138: r^2=0.9897607159497541
addr2-->V141: r^2=0.9875049449963685
addr2-->V142: r^2=0.9855428544309776
addr2-->V146: r^2=0.9851973724219879
addr2-->V147: r^2=0.9862288536511472
addr2-->V149: r^2=0.9851899989356337
addr2-->V154: r^2=0.981259741319041
addr2-->V156: r^2=0.9851427595858983
addr2-->V158: r^2=0.9841969296050288
addr2-->V162: r^2=0.981365304444927
addr2-->V163: r^2=0.9817804765353599
addr2-->V325: r^2=0.9897133320602158
addr2-->V327: r^2=0.9872869125184265
addr2-->V328: r^2=0.9864245810895768
addr2-->V329: r^2=0.9800323084630643
addr2-->V330: r^2=0.986079056870395
addr2-->V334: r^2=0.981826923347848
D1-->D2: r^2=0.9875806448306037
D2-->D1: r^2=0.9875806448306037
D4-->D12: r^2=1.0
D5-->D7: r^2=1.0
D7-->D5: r^2=1.0
D10-->V12: r^2=0.9891894690947294
D10-->V13: r^2=0.9891894690947294
D10-->V14: r^2=0.9874040861829931
D10-->V17: r^2=0.9864192505019529
D10-->V18: r^2=0.9863493763602319
D10-->V22: r^2=0.9841816715702416
D10-->V23: r^2=0.9877716019676627
D10-->V24: r^2=0.9882584928633097
D10-->V27: r^2=0.9879552902890337
D10-->V28: r^2=0.9879552902890337
D10-->V29: r^2=0.9891894690947294
D10-->V30: r^2=0.9891894690947294
D10-->V12_frequency_encoding: r^2=0.9891894690947812
D10-->V13_frequency_encoding: r^2=0.9891894690947812
D10-->V19_frequency_encoding: r^2=0.9822161459629997
D10-->V20_frequency_encoding: r^2=0.9818144452154614
D10-->V25_frequency_encoding: r^2=0.9849124115151004
D10-->V26_frequency_encoding: r^2=0.9849124115151004
D10-->V29_frequency_encoding: r^2=0.9891894690947812
D10-->V30_frequency_encoding: r^2=0.9891894690947812
D12-->D4: r^2=1.0
D12-->D6: r^2=0.9844671185713423
V12-->D10: r^2=0.9891894690947294
V12-->V14_frequency_encoding: r^2=0.9882367723225794
V12-->V17_frequency_encoding: r^2=0.9891784957785233
V12-->V18_frequency_encoding: r^2=0.988791165258035
V12-->V21_frequency_encoding: r^2=0.9882439259079939
V12-->V22_frequency_encoding: r^2=0.9882439259079939
V12-->V31_frequency_encoding: r^2=0.9899710130720237
V12-->V32_frequency_encoding: r^2=0.9899710130720237
V15-->V16: r^2=1.0
V15-->V19: r^2=0.9892323661271476
V15-->V20: r^2=0.9888564016218598
V15-->V25: r^2=0.9855809200180337
V15-->V26: r^2=0.9855809200180337
V15-->V31: r^2=0.9905722860138706
V15-->V32: r^2=0.9905722860138706
V15-->V33: r^2=1.0
V15-->V34: r^2=1.0
V16-->V15: r^2=1.0
V17-->V21: r^2=0.9914548414291512
V35-->V36: r^2=1.0
V35-->V37: r^2=0.9891772718207177
V35-->V39: r^2=0.9952562604194203
V35-->V40: r^2=0.994299314388916
V35-->V41: r^2=0.9959046129047171
V35-->V42: r^2=0.9932878505588949
V35-->V43: r^2=0.9890165789055525
V35-->V44: r^2=0.9967937085514746
V35-->V45: r^2=0.9960857383099592
V35-->V46: r^2=0.9976697660890734
V35-->V47: r^2=0.9956546888988187
V35-->V48: r^2=1.0
V35-->V49: r^2=1.0
V35-->V51: r^2=0.9865850098950721
V35-->V52: r^2=0.9843722198709886
V35-->V35_frequency_encoding: r^2=0.9999999999999765
V35-->V36_frequency_encoding: r^2=0.9999999999999765
V35-->V37_frequency_encoding: r^2=0.994723494738211
V35-->V38_frequency_encoding: r^2=0.994556048916593
V35-->V39_frequency_encoding: r^2=0.9954460408950926
V35-->V40_frequency_encoding: r^2=0.9950153957971876
V35-->V41_frequency_encoding: r^2=0.9994828170940198
V35-->V42_frequency_encoding: r^2=0.9955632356047384
V35-->V43_frequency_encoding: r^2=0.9948773582231302
V35-->V44_frequency_encoding: r^2=0.996246528333789
V35-->V45_frequency_encoding: r^2=0.9959147070254448
V35-->V46_frequency_encoding: r^2=0.9977836529562927
V35-->V47_frequency_encoding: r^2=0.9972996900608129
V35-->V48_frequency_encoding: r^2=0.9999999999999765
V35-->V49_frequency_encoding: r^2=0.9999999999999765
V35-->V50_frequency_encoding: r^2=0.9957709600165227
V35-->V51_frequency_encoding: r^2=0.9968501476466436
V35-->V52_frequency_encoding: r^2=0.9968213583537149
V36-->V35: r^2=1.0
V37-->V38: r^2=0.9949858296739984
V53-->V54: r^2=1.0
V53-->V55: r^2=0.9898638912668921
V53-->V57: r^2=0.9827420315766688
V53-->V58: r^2=0.9887430049489082
V53-->V59: r^2=0.9930169159386352
V53-->V60: r^2=0.9923525591457633
V53-->V61: r^2=0.9822986571127257
V53-->V62: r^2=0.9885488214580673
V53-->V63: r^2=0.9830541174552843
V53-->V64: r^2=0.9915082605462279
V53-->V65: r^2=0.9980542383904925
V53-->V66: r^2=0.9879533235569651
V53-->V67: r^2=0.9868003868922665
V53-->V68: r^2=0.9982843984143319
V53-->V69: r^2=1.0
V53-->V70: r^2=1.0
V53-->V71: r^2=0.9823892951376547
V53-->V72: r^2=0.9885820669372377
V53-->V73: r^2=0.988141728272357
V53-->V74: r^2=0.986955109189346
V53-->V53_frequency_encoding: r^2=0.9999999999999425
V53-->V54_frequency_encoding: r^2=0.9999999999999425
V53-->V57_frequency_encoding: r^2=0.9981946735776188
V53-->V58_frequency_encoding: r^2=0.9974722128535929
V53-->V59_frequency_encoding: r^2=0.9988815614813811
V53-->V60_frequency_encoding: r^2=0.9973072229427222
V53-->V61_frequency_encoding: r^2=0.9984338045212798
V53-->V62_frequency_encoding: r^2=0.9978697959520748
V53-->V63_frequency_encoding: r^2=0.9988146878369538
V53-->V64_frequency_encoding: r^2=0.9960887690105447
V53-->V65_frequency_encoding: r^2=0.9952780229430714
V53-->V66_frequency_encoding: r^2=0.996251068551313
V53-->V67_frequency_encoding: r^2=0.9954841723911604
V53-->V68_frequency_encoding: r^2=0.9848058972306922
V53-->V69_frequency_encoding: r^2=0.9999999999999425
V53-->V70_frequency_encoding: r^2=0.9999999999999425
V53-->V71_frequency_encoding: r^2=0.9987121844601451
V53-->V72_frequency_encoding: r^2=0.9981031231284333
V53-->V73_frequency_encoding: r^2=0.9964826391300682
V53-->V74_frequency_encoding: r^2=0.9952539722703793
V54-->V53: r^2=1.0
V55-->V56: r^2=0.9926262893049534
V75-->V76: r^2=1.0
V75-->V77: r^2=0.9913985153159109
V75-->V78: r^2=0.9881968160744267
V75-->V79: r^2=0.9859903630324633
V75-->V80: r^2=0.9972022532323799
V75-->V81: r^2=0.9964086699743876
V75-->V82: r^2=0.9927007815346227
V75-->V83: r^2=0.9923507136568271
V75-->V84: r^2=0.9922561231821879
V75-->V85: r^2=0.992452913825011
V75-->V86: r^2=0.9966303781594102
V75-->V87: r^2=0.9958570701040333
V75-->V88: r^2=0.9947322086280044
V75-->V89: r^2=0.9959402002154977
V75-->V90: r^2=1.0
V75-->V91: r^2=1.0
V75-->V92: r^2=0.9912549045677308
V75-->V93: r^2=0.990891928461355
V75-->V75_frequency_encoding: r^2=0.9999999999999928
V75-->V76_frequency_encoding: r^2=0.9999999999999928
V75-->V77_frequency_encoding: r^2=0.9941344655979134
V75-->V78_frequency_encoding: r^2=0.9939582284926021
V75-->V79_frequency_encoding: r^2=0.9981972112411919
V75-->V80_frequency_encoding: r^2=0.9947456430825072
V75-->V81_frequency_encoding: r^2=0.9942348801093652
V75-->V82_frequency_encoding: r^2=0.9948359195202097
V75-->V83_frequency_encoding: r^2=0.9947312482559184
V75-->V84_frequency_encoding: r^2=0.9946327928712593
V75-->V85_frequency_encoding: r^2=0.9940446724259984
V75-->V86_frequency_encoding: r^2=0.9953329292287992
V75-->V87_frequency_encoding: r^2=0.9950338384764174
V75-->V88_frequency_encoding: r^2=0.9992421324830217
V75-->V89_frequency_encoding: r^2=0.9979731477889965
V75-->V90_frequency_encoding: r^2=0.9999999999999928
V75-->V91_frequency_encoding: r^2=0.9999999999999928
V75-->V92_frequency_encoding: r^2=0.9948382240650848
V75-->V93_frequency_encoding: r^2=0.994766329470778
V75-->V94_frequency_encoding: r^2=0.9982959405290537
V76-->V75: r^2=1.0
V102-->V103: r^2=0.9998653444719701
V103-->V102: r^2=0.9998653444719701
V109-->V110: r^2=1.0
V110-->V109: r^2=1.0
V111-->V112: r^2=1.0
V111-->V113: r^2=1.0
V112-->V111: r^2=1.0
V115-->V116: r^2=1.0
V116-->V115: r^2=1.0
V117-->V118: r^2=1.0
V117-->V119: r^2=1.0
V118-->V117: r^2=1.0
V120-->V121: r^2=1.0
V120-->V122: r^2=1.0
V121-->V120: r^2=1.0
V133-->V134: r^2=0.9973073597460689
V134-->V133: r^2=0.9973073597460689
V135-->V137: r^2=0.9906666715838227
V137-->V135: r^2=0.9906666715838227
V138-->addr2: r^2=0.9897607159497541
V138-->V157: r^2=0.982381315398327
V138-->V161: r^2=0.9925305604520293
V139-->V140: r^2=0.9941007891273603
V140-->V139: r^2=0.9941007891273603
V142-->V326: r^2=0.9822235703218298
V146-->V155: r^2=0.9819486126384764
V148-->V153: r^2=0.9975065691382676
V149-->V148: r^2=0.9918859048116924
V150-->V152: r^2=0.990528120285168
V150-->V159: r^2=0.9975823939600327
V150-->V160: r^2=0.9966821271282846
V150-->V165: r^2=0.9911635690604024
V152-->V150: r^2=0.990528120285168
V169-->V172: r^2=0.9925707827952704
V169-->V173: r^2=0.9924690975035805
V169-->V174: r^2=0.9953822495965009
V169-->V175: r^2=0.9935880173613199
V169-->V180: r^2=0.9830548425325777
V169-->V181: r^2=0.9862396000900905
V169-->V183: r^2=0.9822392957373749
V169-->V184: r^2=0.9881204216805582
V169-->V185: r^2=0.9892854648751251
V169-->V186: r^2=0.9923049313584963
V169-->V187: r^2=0.986839740741578
V169-->V188: r^2=0.9942225916818744
V169-->V189: r^2=0.9938120166324669
V169-->V190: r^2=0.9806005201130036
V169-->V191: r^2=0.990655539617101
V169-->V192: r^2=0.983148237763321
V169-->V193: r^2=0.9865239564625499
V169-->V194: r^2=0.9877139929468866
V169-->V195: r^2=0.9881075492694842
V169-->V196: r^2=0.9894726726264462
V169-->V197: r^2=0.9873411135790917
V169-->V198: r^2=0.9871565015651398
V169-->V206: r^2=0.9849560313201068
V169-->V208: r^2=0.9823553058299284
V169-->V210: r^2=0.9822636831413251
V170-->V171: r^2=0.9902527184776436
V171-->V170: r^2=0.9902527184776436
V172-->V169: r^2=0.9925707827952704
V172-->V205: r^2=0.9902526307824137
V174-->V209: r^2=0.9839860566585241
V176-->V199: r^2=0.983004863346506
V177-->V178: r^2=0.9888655018347347
V177-->V179: r^2=0.992831712339398
V178-->V177: r^2=0.9888655018347347
V180-->V182: r^2=0.9953984769872983
V181-->V214: r^2=0.9823276504086298
V183-->V216: r^2=0.9806003392038302
V184-->V200: r^2=0.983582437730503
V184-->V201: r^2=0.9821229802633115
V190-->V176: r^2=0.9868227441667913
V204-->V213: r^2=0.9862640118425186
V205-->V207: r^2=0.9862664868500586
V213-->V204: r^2=0.9862640118425186
V214-->V215: r^2=0.9869085253128186
V217-->V219: r^2=0.9859502370943277
V219-->V217: r^2=0.9859502370943277
V219-->V230: r^2=0.9805645922135492
V219-->V233: r^2=0.980266519668637
V220-->V227: r^2=0.992430712333463
V220-->V234: r^2=0.9807658771174409
V220-->V238: r^2=0.9868483056051158
V220-->V239: r^2=0.9879837129782418
V220-->V240: r^2=0.9802634296759213
V220-->V241: r^2=0.9814655439905
V220-->V245: r^2=0.9925654973404587
V220-->V250: r^2=0.9830037789820472
V220-->V251: r^2=0.9854550385465327
V220-->V255: r^2=0.9825703056168736
V220-->V256: r^2=0.9865845643541334
V220-->V259: r^2=0.9804174376280453
V220-->V270: r^2=0.9848206355016265
V220-->V271: r^2=0.9819935890913646
V220-->V272: r^2=0.9856432378130475
V221-->V222: r^2=0.9899133512470634
V222-->V221: r^2=0.9899133512470634
V223-->V225: r^2=0.9965736945735649
V223-->V235: r^2=0.982425837562588
V223-->V237: r^2=0.9833398964898713
V223-->V242: r^2=0.9903432888489648
V223-->V243: r^2=0.9926305490874113
V223-->V244: r^2=0.9925942619358646
V223-->V246: r^2=0.9823872403296112
V223-->V247: r^2=0.995697465456911
V223-->V248: r^2=0.9906574313109365
V223-->V249: r^2=0.9902902358096508
V223-->V252: r^2=0.9871493338512722
V223-->V254: r^2=0.9912232079885425
V223-->V258: r^2=0.9825198237858574
V223-->V260: r^2=0.9890980935085698
V223-->V262: r^2=0.9800286176333697
V223-->V266: r^2=0.9810373494646454
V223-->V269: r^2=0.9890942812336757
V225-->V223: r^2=0.9965736945735649
V226-->V231: r^2=0.9834973927941156
V227-->V220: r^2=0.992430712333463
V228-->V257: r^2=0.9824341400455666

V230-->V228: r^2=0.9893142602865822
V231-->V226: r^2=0.9834973927941156
V231-->V232: r^2=0.9802039707289776
V234-->V236: r^2=0.9940097134369307
V235-->V276: r^2=0.9848875359515554
V243-->V253: r^2=0.9831604804059686
V243-->V261: r^2=0.982900653923727
V264-->V265: r^2=0.9957436252470117
V264-->V267: r^2=0.9858664273869988
V264-->V268: r^2=0.9945249072530067
V264-->V274: r^2=0.994315979184674
V264-->V275: r^2=0.9927678487938764
V265-->V264: r^2=0.9957436252470117
V276-->V277: r^2=0.9814347148697135
V276-->V278: r^2=0.9848888013276765
V297-->V299: r^2=0.991924225402808
V299-->V297: r^2=0.991924225402808
V300-->V301: r^2=1.0
V301-->V300: r^2=1.0
V308-->V318: r^2=0.9805181719423134
V318-->V308: r^2=0.9805181719423134
V322-->V323: r^2=0.9856563146342415
V322-->V324: r^2=0.98656052464218
V323-->V322: r^2=0.9856563146342415
V325-->V335: r^2=0.9845545856449526
V325-->V336: r^2=0.9881262778692841
V328-->V337: r^2=0.9861639316108605
V328-->V339: r^2=0.9848234226663318
V337-->V338: r^2=0.9900878258225281
id_04-->id_04_frequency_encoding: r^2=0.9805136719165212
id_09-->D9_frequency_encoding: r^2=0.9828967058269273
id_12-->id_12_frequency_encoding: r^2=0.9999999999999925
id_18-->id_18_frequency_encoding: r^2=0.9884382338160084
id_24-->id_24_frequency_encoding: r^2=0.9883400158201656
id_27-->id_07_frequency_encoding: r^2=0.9999996690718184
id_27-->id_08_frequency_encoding: r^2=0.9999995920973951
id_27-->id_21_frequency_encoding: r^2=0.9999809667270968
id_27-->id_22_frequency_encoding: r^2=0.9999680532031426
id_27-->id_23_frequency_encoding: r^2=0.9999853077072437
id_27-->id_25_frequency_encoding: r^2=0.9999806611049552
id_27-->id_26_frequency_encoding: r^2=0.9999995068332453
id_27-->id_27_frequency_encoding: r^2=0.9999999999999433
card4_frequency_encoding-->card4: r^2=0.9914708762006456
D9_frequency_encoding-->id_09: r^2=0.9828967058269273
V15_frequency_encoding-->V16_frequency_encoding: r^2=1.0
V15_frequency_encoding-->V33_frequency_encoding: r^2=1.0
V15_frequency_encoding-->V34_frequency_encoding: r^2=1.0
V16_frequency_encoding-->V15_frequency_encoding: r^2=1.0
V23_frequency_encoding-->V24_frequency_encoding: r^2=0.9822747346828025
V24_frequency_encoding-->V23_frequency_encoding: r^2=0.9822747346828025
V27_frequency_encoding-->V28_frequency_encoding: r^2=1.0
V28_frequency_encoding-->V27_frequency_encoding: r^2=1.0
V55_frequency_encoding-->V56_frequency_encoding: r^2=0.9877656105182029
V56_frequency_encoding-->V55_frequency_encoding: r^2=0.9877656105182029
V98_frequency_encoding-->V129_frequency_encoding: r^2=0.9999953993333274
V99_frequency_encoding-->V130_frequency_encoding: r^2=0.999954117076958
V100_frequency_encoding-->V131_frequency_encoding: r^2=0.9999699084080103
V101_frequency_encoding-->V132_frequency_encoding: r^2=0.9999530634554739
V102_frequency_encoding-->V103_frequency_encoding: r^2=0.9946872658137152
V102_frequency_encoding-->V133_frequency_encoding: r^2=0.9999479359983751
V102_frequency_encoding-->V134_frequency_encoding: r^2=0.9946352412230511
V103_frequency_encoding-->V102_frequency_encoding: r^2=0.9946872658137152
V104_frequency_encoding-->V135_frequency_encoding: r^2=0.9999090206075293
V105_frequency_encoding-->V136_frequency_encoding: r^2=0.9998813320472926
V106_frequency_encoding-->V137_frequency_encoding: r^2=0.999899269464395
V109_frequency_encoding-->V110_frequency_encoding: r^2=1.0
V110_frequency_encoding-->V109_frequency_encoding: r^2=1.0
V111_frequency_encoding-->V112_frequency_encoding: r^2=1.0
V111_frequency_encoding-->V113_frequency_encoding: r^2=1.0
V112_frequency_encoding-->V111_frequency_encoding: r^2=1.0
V115_frequency_encoding-->V116_frequency_encoding: r^2=1.0
V116_frequency_encoding-->V115_frequency_encoding: r^2=1.0
V117_frequency_encoding-->V118_frequency_encoding: r^2=1.0
V117_frequency_encoding-->V119_frequency_encoding: r^2=1.0
V118_frequency_encoding-->V117_frequency_encoding: r^2=1.0
V120_frequency_encoding-->V121_frequency_encoding: r^2=1.0
V120_frequency_encoding-->V122_frequency_encoding: r^2=1.0
V121_frequency_encoding-->V120_frequency_encoding: r^2=1.0
V129_frequency_encoding-->V98_frequency_encoding: r^2=0.9999953993333274
V130_frequency_encoding-->V99_frequency_encoding: r^2=0.999954117076958
V131_frequency_encoding-->V100_frequency_encoding: r^2=0.9999699084080103
V132_frequency_encoding-->V101_frequency_encoding: r^2=0.9999530634554739
V135_frequency_encoding-->V104_frequency_encoding: r^2=0.9999090206075293
V136_frequency_encoding-->V105_frequency_encoding: r^2=0.9998813320472926
V137_frequency_encoding-->V106_frequency_encoding: r^2=0.999899269464395
V139_frequency_encoding-->V140_frequency_encoding: r^2=0.983851236674215
V140_frequency_encoding-->V139_frequency_encoding: r^2=0.983851236674215
V141_frequency_encoding-->V142_frequency_encoding: r^2=0.9913369929782702
V141_frequency_encoding-->V161_frequency_encoding: r^2=0.999968070139766
V141_frequency_encoding-->V162_frequency_encoding: r^2=0.991064525464146
V141_frequency_encoding-->V163_frequency_encoding: r^2=0.9910650601646676
V142_frequency_encoding-->V141_frequency_encoding: r^2=0.9913369929782702
V144_frequency_encoding-->V145_frequency_encoding: r^2=0.9909139735921338
V145_frequency_encoding-->V144_frequency_encoding: r^2=0.9909139735921338
V146_frequency_encoding-->V147_frequency_encoding: r^2=0.9999999866192061
V147_frequency_encoding-->V146_frequency_encoding: r^2=0.9999999866192061
V153_frequency_encoding-->V154_frequency_encoding: r^2=0.9994600285010352
V154_frequency_encoding-->V153_frequency_encoding: r^2=0.9994600285010352
V155_frequency_encoding-->V156_frequency_encoding: r^2=0.9933830134400832
V156_frequency_encoding-->V155_frequency_encoding: r^2=0.9933830134400832
V157_frequency_encoding-->V158_frequency_encoding: r^2=0.9848088870840465
V158_frequency_encoding-->V157_frequency_encoding: r^2=0.9848088870840465
V172_frequency_encoding-->V205_frequency_encoding: r^2=0.9998336606620989
V173_frequency_encoding-->V206_frequency_encoding: r^2=0.9999541570871324
V174_frequency_encoding-->V175_frequency_encoding: r^2=0.9976744718362619
V174_frequency_encoding-->V208_frequency_encoding: r^2=0.9997741037216663
V174_frequency_encoding-->V210_frequency_encoding: r^2=0.9973500900178855
V175_frequency_encoding-->V174_frequency_encoding: r^2=0.9976744718362619
V177_frequency_encoding-->V211_frequency_encoding: r^2=0.9998632408910062
V180_frequency_encoding-->V182_frequency_encoding: r^2=0.9919047521776503
V180_frequency_encoding-->V215_frequency_encoding: r^2=0.9915294037072697
V181_frequency_encoding-->V214_frequency_encoding: r^2=0.9995687032394582
V182_frequency_encoding-->V180_frequency_encoding: r^2=0.9919047521776503
V183_frequency_encoding-->V216_frequency_encoding: r^2=0.9995718972485418
V184_frequency_encoding-->V185_frequency_encoding: r^2=0.9999741152244893
V185_frequency_encoding-->V184_frequency_encoding: r^2=0.9999741152244893
V188_frequency_encoding-->V189_frequency_encoding: r^2=0.9862604491581795
V189_frequency_encoding-->V188_frequency_encoding: r^2=0.9862604491581795
V191_frequency_encoding-->V193_frequency_encoding: r^2=0.9840284299691158
V193_frequency_encoding-->V191_frequency_encoding: r^2=0.9840284299691158
V193_frequency_encoding-->V192_frequency_encoding: r^2=0.9922117986671266
V194_frequency_encoding-->V195_frequency_encoding: r^2=0.993215840764915
V195_frequency_encoding-->V194_frequency_encoding: r^2=0.993215840764915
V197_frequency_encoding-->V198_frequency_encoding: r^2=0.9955843620495296
V198_frequency_encoding-->V197_frequency_encoding: r^2=0.9955843620495296
V200_frequency_encoding-->V201_frequency_encoding: r^2=0.9881233437462509
V201_frequency_encoding-->V200_frequency_encoding: r^2=0.9881233437462509
V205_frequency_encoding-->V172_frequency_encoding: r^2=0.9998336606620989
V206_frequency_encoding-->V173_frequency_encoding: r^2=0.9999541570871324
V211_frequency_encoding-->V177_frequency_encoding: r^2=0.9998632408910062
V214_frequency_encoding-->V181_frequency_encoding: r^2=0.9995687032394582
V216_frequency_encoding-->V183_frequency_encoding: r^2=0.9995718972485418
V223_frequency_encoding-->V266_frequency_encoding: r^2=0.9998837512820749
V227_frequency_encoding-->V270_frequency_encoding: r^2=0.9954801394843814
V227_frequency_encoding-->V271_frequency_encoding: r^2=0.9952317988537036
V227_frequency_encoding-->V272_frequency_encoding: r^2=0.9999147976915774
V231_frequency_encoding-->V273_frequency_encoding: r^2=0.9998822569104603
V234_frequency_encoding-->V236_frequency_encoding: r^2=0.9912965538805856
V234_frequency_encoding-->V277_frequency_encoding: r^2=0.9906481852860696
V235_frequency_encoding-->V276_frequency_encoding: r^2=0.9996055611865199
V236_frequency_encoding-->V234_frequency_encoding: r^2=0.9912965538805856
V237_frequency_encoding-->V278_frequency_encoding: r^2=0.999620839485928
V238_frequency_encoding-->V239_frequency_encoding: r^2=0.9876947598087689
V239_frequency_encoding-->V238_frequency_encoding: r^2=0.9876947598087689
V240_frequency_encoding-->V241_frequency_encoding: r^2=0.9884164230946632
V241_frequency_encoding-->V240_frequency_encoding: r^2=0.9884164230946632
V247_frequency_encoding-->V249_frequency_encoding: r^2=0.992309387127465
V249_frequency_encoding-->V247_frequency_encoding: r^2=0.992309387127465
V250_frequency_encoding-->V251_frequency_encoding: r^2=0.995942821724688
V250_frequency_encoding-->V255_frequency_encoding: r^2=0.9897797578918077
V251_frequency_encoding-->V250_frequency_encoding: r^2=0.995942821724688
V255_frequency_encoding-->V256_frequency_encoding: r^2=0.9836655942385721

V266_frequency_encoding-->V223_frequency_encoding: r^2=0.9998837512820749
V270_frequency_encoding-->V227_frequency_encoding: r^2=0.9954801394843814
V273_frequency_encoding-->V231_frequency_encoding: r^2=0.9998822569104603
V276_frequency_encoding-->V235_frequency_encoding: r^2=0.9996055611865199
V278_frequency_encoding-->V237_frequency_encoding: r^2=0.999620839485928
V286_frequency_encoding-->V311_frequency_encoding: r^2=0.9999603199192187
V288_frequency_encoding-->V289_frequency_encoding: r^2=0.9885124942872208
V289_frequency_encoding-->V288_frequency_encoding: r^2=0.9885124942872208
V297_frequency_encoding-->V299_frequency_encoding: r^2=0.9875631637973824
V297_frequency_encoding-->V319_frequency_encoding: r^2=0.9998370702465332
V297_frequency_encoding-->V321_frequency_encoding: r^2=0.9870366942789924
V299_frequency_encoding-->V297_frequency_encoding: r^2=0.9875631637973824
V300_frequency_encoding-->V301_frequency_encoding: r^2=1.0
V301_frequency_encoding-->V300_frequency_encoding: r^2=1.0
V311_frequency_encoding-->V286_frequency_encoding: r^2=0.9999603199192187
V322_frequency_encoding-->V331_frequency_encoding: r^2=0.9982495299473081
V325_frequency_encoding-->V334_frequency_encoding: r^2=0.99989652206396
V326_frequency_encoding-->V335_frequency_encoding: r^2=0.9997532470113512
V327_frequency_encoding-->V336_frequency_encoding: r^2=0.9998457421537782
V328_frequency_encoding-->V337_frequency_encoding: r^2=0.999607117817341
V329_frequency_encoding-->V338_frequency_encoding: r^2=0.9994789195905512
V330_frequency_encoding-->V339_frequency_encoding: r^2=0.9995292905538478
V331_frequency_encoding-->V322_frequency_encoding: r^2=0.9982495299473081
V334_frequency_encoding-->V325_frequency_encoding: r^2=0.99989652206396
V335_frequency_encoding-->V326_frequency_encoding: r^2=0.9997532470113512
V336_frequency_encoding-->V327_frequency_encoding: r^2=0.9998457421537782
V337_frequency_encoding-->V328_frequency_encoding: r^2=0.999607117817341
V338_frequency_encoding-->V329_frequency_encoding: r^2=0.9994789195905512
V339_frequency_encoding-->V330_frequency_encoding: r^2=0.9995292905538478
id_04_frequency_encoding-->id_04: r^2=0.9805136719165212
id_07_frequency_encoding-->id_27: r^2=0.9999996690718184
id_12_frequency_encoding-->id_12: r^2=0.9999999999999925
id_15_frequency_encoding-->id_16_frequency_encoding: r^2=0.9834256695969162
id_16_frequency_encoding-->id_15_frequency_encoding: r^2=0.9834256695969162
id_18_frequency_encoding-->id_18: r^2=0.9884382338160084
id_24_frequency_encoding-->id_24: r^2=0.9883400158201656
751 columns total
262 columns left
The set of remaining columns should be modified. Error: "['isFraud'] not in index"
A summary of the data sets

                     train  test
column type
categorical_integer    219   220
categorical_string       0     0
continuous              43    41
date                     0     0
json                     0     0
other                    0     0
total amount           262   261

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
Apply target-based encoding to the categorical features by applying the following function:

dataframe_dict, columns_set = flow.features_encoding("target", dataframe_dict: dict, reference: str, ignore_columns: list, target: str)

In [44]:
ignore_columns = ["TransactionID", "isFraud"]
reference = "train"
target = "isFraud"

In [45]:
dataframe_dict, columns_set = flow.features_encoding("target",
                                                     dataframe_dict,
                                                     reference=reference,
                                                     ignore_columns=ignore_columns,
                                                     target_name=target)

A summary of the data sets

                     train  test
column type
categorical_integer    219   220
categorical_string       0     0
continuous              43    41
date                     0     0
json                     0     0
other                    0     0
total amount           262   261

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
If you have numeric features, it is a good idea to normalize numeric features.Use the following function for feature normalization:
 dataframe_dict, columns_set = flow.scale_data (dataframe_dict: dict, ignore_columns: list)
For example: ignore_columns = ['id', 'target']

In [46]:
ignore_columns = ["TransactionID", "isFraud"]

In [47]:
dataframe_dict, columns_set = flow.scale_data(dataframe_dict, ignore_columns)

A summary of the data sets

                     train  test
column type
categorical_integer    219   220
categorical_string       0     0
continuous              43    41
date                     0     0
json                     0     0
other                    0     0
total amount           262   261

NOTE: numeric categorical columns that contains more than 50 classes are considered numeric continuous features.
NOTE: You can modify the threshold value if you want to consider more or less numeric categorical features as numeric continuous features.
If you want to explore the data you can run one of the following functions:
1 . flow.exploring_data(dataframe_dict: dict, key_i: str)
For example: flow.exploring_data(dataframe_dict, 'train')
2 . flow.comparing_statistics(dataframe_dict: dict)
For example: flow.comparing_statistics(dataframe_dict)


Your features are ready to train the model:
You can start training the model by applying the following function:
model_index_list, save_models_dir, y_test = flow.training(parameters)
parameters = {
     "data": {
         "train": {"features": train_dataframe, "target": train_target},
         "valid": {"features": valid_dataframe, "target": valid_target},
         "test": {"features": test_dataframe, "target": test_target},
     },
     "split": {
         "method": "split",
         "split_ratios": 0.2
         },
      "model": {"type": "Ridge linear regression",
               "hyperparameters": {"alpha": 1,  # alpha:optimize}
             },
      "metrics": ["r2_score", "mean_squared_error"]
}

In [48]:
flow.exploring_data(dataframe_dict, "test")

interactive(children=(IntSlider(value=0, description='column_i', max=260), Output()), _dom_classes=('widget-in…

In [49]:
flow.comparing_statistics(dataframe_dict)

interactive(children=(IntSlider(value=0, description='feature_nr', max=261), Output()), _dom_classes=('widget-…

In [50]:
columns = dataframe_dict["train"].columns
total_columns = columns_set["train"]["continuous"] +\
columns_set["train"]["categorical_integer"]

train_dataframe = dataframe_dict["train"][
    [x for x in total_columns if x not in ignore_columns]]
test_dataframe = dataframe_dict["test"][
    [x for x in total_columns if x not in ignore_columns]]
train_target = dataframe_dict["train"]["isFraud"]

In [51]:
parameters = {
    "data": {
        "train": {"features": train_dataframe, "target": train_target.to_numpy()},
    },
    "split": {
        "method": "kfold",  # "method":"kfold"
        "fold_nr": 5,  # foldnr:5 , "split_ratios": 0.8 # "split_ratios":(0.7,0.2)
    },
    "model": {"type": "Logistic regression",
              "hyperparameters": {"alpha": "optimize",  # alpha:optimize
                                  },
              },
    "metrics": ["accuracy_score", "roc_auc_score"],
    "predict": {
        "test": {"features": test_dataframe}
    }
}

In [52]:
model_index_list_logistic, save_models_dir_logistic, y_test_logistic = flow.training(parameters)

shuffle is not provided: 'shuffle'
random_state is not provided: 'random_state'
fold_nr. 1
{'accuracy_score (train.train)': 0.9855, 'roc_auc_score (train.train)': 0.8678264313572804, 'accuracy_score (train.validation)': 0.9537, 'roc_auc_score (train.validation)': 0.7327815548329885}
fold_nr. 2
{'accuracy_score (train.train)': 0.985, 'roc_auc_score (train.train)': 0.8874264376400299, 'accuracy_score (train.validation)': 0.9676, 'roc_auc_score (train.validation)': 0.8323725055432372}
fold_nr. 3
{'accuracy_score (train.train)': 0.9867, 'roc_auc_score (train.train)': 0.8918493596700673, 'accuracy_score (train.validation)': 0.956, 'roc_auc_score (train.validation)': 0.7716062506643987}
fold_nr. 4
{'accuracy_score (train.train)': 0.9861, 'roc_auc_score (train.train)': 0.894621952292932, 'accuracy_score (train.validation)': 0.9722, 'roc_auc_score (train.validation)': 0.7475728155339806}
fold_nr. 5
{'accuracy_score (train.train)': 0.9861, 'roc_auc_score (train.train)': 0.8835314470673586, 'accuracy_score (train.validation)': 0.9653, 'roc_auc_score (train.validation)': 0.8375331564986738}

,fold_1,fold_2,fold_3,fold_4,fold_5,mean
accuracy_score (train.train),0.985500,0.985000,0.986700,0.986100,0.986100,0.985880
accuracy_score (train.validation),0.953700,0.967600,0.956000,0.972200,0.965300,0.962960
roc_auc_score (train.train),0.867826,0.887426,0.891849,0.894622,0.883531,0.885051
roc_auc_score (train.validation),0.732782,0.832373,0.771606,0.747573,0.837533,0.784373

,model 1,model 2,model 3,model 4,model 5,mean
accuracy_score (train),0.979200,0.981500,0.980600,0.983300,0.981900,0.98130
roc_auc_score (train),0.831263,0.877543,0.869543,0.871017,0.874034,0.86468

This is the end of the flow

In [53]:
parameters_lighgbm = {
    "data": {
        "train": {"features": train_dataframe, "target": train_target.to_numpy()},
    },
    "split": {
        "method": "kfold",  # "method":"kfold"
        "fold_nr": 5,  # foldnr:5 , "split_ratios": 0.8 # "split_ratios":(0.7,0.2)
    },
    "model": {"type": "lightgbm",
              "hyperparameters": dict(objective='binary', metric='cross-entropy', num_leaves=5,
                                      boost_from_average=True,
                                      learning_rate=0.05, bagging_fraction=0.99, feature_fraction=0.99, max_depth=-1,
                                      num_rounds=10000, min_data_in_leaf=10, boosting='dart')
              },
    "metrics": ["accuracy_score", "roc_auc_score"],
    "predict": {
        "test": {"features": test_dataframe}
    }
}

In [54]:
model_index_list_lightgbm, save_models_dir_lightgbm, y_test_lightgbm = flow.training(parameters_lighgbm)

shuffle is not provided: 'shuffle'
random_state is not provided: 'random_state'
fold_nr. 1
{'accuracy_score (train.train)': 1.0, 'roc_auc_score (train.train)': 1.0, 'accuracy_score (train.validation)': 0.9722, 'roc_auc_score (train.validation)': 0.9325302985515814}
fold_nr. 2
{'accuracy_score (train.train)': 1.0, 'roc_auc_score (train.train)': 1.0, 'accuracy_score (train.validation)': 0.9792, 'roc_auc_score (train.validation)': 0.9783813747228381}
fold_nr. 3
{'accuracy_score (train.train)': 1.0, 'roc_auc_score (train.train)': 1.0, 'accuracy_score (train.validation)': 0.9815, 'roc_auc_score (train.validation)': 0.9670458169448284}
fold_nr. 4
{'accuracy_score (train.train)': 1.0, 'roc_auc_score (train.train)': 1.0, 'accuracy_score (train.validation)': 0.9838, 'roc_auc_score (train.validation)': 0.9734223300970875}
fold_nr. 5
{'accuracy_score (train.train)': 1.0, 'roc_auc_score (train.train)': 1.0, 'accuracy_score (train.validation)': 0.9861, 'roc_auc_score (train.validation)': 0.9512125805229253}

,fold_1,fold_2,fold_3,fold_4,fold_5,mean
accuracy_score (train.train),1.00000,1.000000,1.000000,1.000000,1.000000,1.000000
accuracy_score (train.validation),0.97220,0.979200,0.981500,0.983800,0.986100,0.980560
roc_auc_score (train.train),1.00000,1.000000,1.000000,1.000000,1.000000,1.000000
roc_auc_score (train.validation),0.93253,0.978381,0.967046,0.973422,0.951213,0.960518

,model 1,model 2,model 3,model 4,model 5,mean
accuracy_score (train),0.994400,0.995800,0.996300,0.996800,0.997200,0.996100
roc_auc_score (train),0.981122,0.997346,0.995499,0.998648,0.990781,0.992679

This is the end of the flow

In [ ]:
parameters_xgboost = {
    "data": {
        "train": {"features": train_dataframe, "target": train_target.to_numpy()},
    },
    "split": {
        "method": "kfold",  # "method":"kfold"
        "fold_nr": 5,  # fold_nr:5 , "split_ratios": 0.3 # "split_ratios":(0.3,0.2)
    },
    "model": {"type": "xgboost",
              "hyperparameters": {'max_depth': 5, 'eta': 1, 'eval_metric': "auc", 'objective':'binary:logistic'}
              },
    "metrics": ["accuracy_score", "roc_auc_score"],
    "predict": {
        "test": {"features": test_dataframe}
    }
}

In [ ]:
model_index_list_xgboost, save_models_dir_xgboost, y_test_xgboost = flow.training(parameters_xgboost)

In [ ]:
train_dataframe = dataframe_dict['train'].drop(['isFraud'],1)
train_target = dataframe_dict["train"]["isFraud"]

test_dataframe = dataframe_dict['test']  #.drop(['isFraud'],1)

parameters_sklearn = {
    "data": {
        "train": {
            "features": train_dataframe,
            "target": train_target.to_numpy()
        }, 
    },
    "split": {
        "method": "split",
        "split_ratios": 0.2,
        "stratify": True
    },
    "model": {
        "type": "sklearn.ensemble.RandomForestClassifier",
        "hyperparameters": {
            'params_grid':{
                'class_weight': ["balanced_subsample"],
                'max_depth': [5, 10, 20, 999],
                'min_samples_leaf': [10, 3, 1]
            },
            'params_fixed': {
                'max_depth': 4, 
                'min_samples_split': 10, 
                'min_samples_leaf': 2, 
                'random_state': 11
            },
            'params_cv': {
                'n_splits': 5, 
                'shuffle': True, 
                'random_state': 11
            },
            "objective": "classification",
            "grid_search_scoring": ['roc_auc', 'accuracy']
        },
    },
    "metrics": ['roc_auc_score', 'accuracy_score'],
    "predict": {
        "test": {
            "features": test_dataframe
        }
    }
}

In [ ]:
model_index_list_RF, save_models_dir_RF, y_test_RF = flow.training(parameters_sklearn)